script(type="text/ng-template" id="console.html")
  .console
    div(uib-alert ng-repeat="alert in alerts | limitTo:10"
      ng-class="'alert-' + (alert.type || 'warning')"
      close="dismiss($index)") {{alert.message}}
