script(type="text/ng-template" id="create.html")
  .modal-header
    h3.modal-title {{ (header || '_newprofile') | t : lang }}

  form.form-horizontal.editor-modal(name="modalForm")
    .modal-body.editor
      div(ng-if="active === 1")
        button.btn.btn-success.clickable(ng-click="goto(2)")
          .row.profile-row
            .col-xs-1
              .profile-icon.glyphicon.glyphicon-info-sign
            .col-xs-4.profile-name
              span.pull-left {{ '_Metadata' | t : lang}}
            .col-xs-5
              span.pull-left(ng-if="!checkmeta()") {{ '_pc_meta' | t : lang}}
              span.pull-left(ng-if="checkmeta()") {{ checkmeta() }} {{ '_pc_info' | t : lang}}
            .col-xs-2
              span.pull-right
                .profile-chevron.glyphicon.glyphicon-chevron-right

        button.btn.btn-warning.clickable(ng-click="goto(3)")
          .row.profile-row
            .col-xs-1
              .profile-icon.glyphicon.glyphicon-align-right
            .col-xs-4.profile-name
              span.pull-left {{ '_Stratigraphy' | t : lang}}
            .col-xs-5
              span.pull-left(ng-if="!profile.grainshape") {{ '_pc_strat' | t : lang}}
              span.pull-left(ng-if="profile.grainshape") {{profile.grainshape.layers.length}} {{ '_pc_layers' | t : lang}}
            .col-xs-2
              span.pull-right
                .profile-chevron.glyphicon.glyphicon-chevron-right

        button.btn.btn-danger.clickable(ng-click="goto(4)")
          .row.profile-row
            .col-xs-1
              .profile-icon.glyphicon.glyphicon-scale
            .col-xs-4.profile-name
              span.pull-left {{ '_Temperature' | t : lang}}
            .col-xs-5
              span.pull-left(ng-if="!profile.temperature") {{ '_pc_temp' | t : lang}}
              span.pull-left(ng-if="profile.temperature") {{profile.temperature.layers.length}} {{ '_pc_layers' | t : lang}}
            .col-xs-2
              span.pull-right
                .profile-chevron.glyphicon.glyphicon-chevron-right

        button.btn.btn-info.clickable(ng-click="goto(5)")
          .row.profile-row
            .col-xs-1
              .profile-icon.glyphicon.glyphicon-tint
            .col-xs-4.profile-name
              span.pull-left {{ '_LWC' | t : lang}}
            .col-xs-5
              span.pull-left(ng-if="!profile.wetness || profile.wetness.length <= 1")
                | {{ '_pc_lwc' | t : lang}}
              span.pull-left(ng-if="profile.wetness.length > 1")
                | {{profile.wetness.length - 1}} {{ '_pc_profiles' | t : lang}}
            .col-xs-2
              span.pull-right
                .profile-chevron.glyphicon.glyphicon-chevron-right

        button.btn.btn-default.clickable(ng-click="goto(6)")
          .row.profile-row
            .col-xs-1
              .profile-icon.glyphicon.glyphicon-resize-small
            .col-xs-4.profile-name
              span.pull-left {{ '_Density' | t : lang}}
            .col-xs-5
              span.pull-left(ng-if="!profile.density") {{ '_pc_density' | t : lang}}
              span.pull-left(ng-if="profile.density") {{profile.density.length}} {{ '_pc_profiles' | t : lang}}
            .col-xs-2
              span.pull-right
                .profile-chevron.glyphicon.glyphicon-chevron-right

        button.btn.btn-stability.clickable(ng-click="goto(7)")
          .row.profile-row
            .col-xs-1
              .profile-icon.glyphicon.glyphicon-alert
            .col-xs-4.profile-name
              span.pull-left {{ '_Stability' | t : lang}}
            .col-xs-5
              span.pull-left(ng-if="!checkstb()") {{ '_pc_stability' | t : lang}}
              span.pull-left(ng-if="checkstb()") {{ checkstb() }} {{ '_pc_tests' | t : lang}}
            .col-xs-2
              span.pull-right
                .profile-chevron.glyphicon.glyphicon-chevron-right

        button.btn.btn-primary.clickable(ng-click="goto(8)")
          .row.profile-row
            .col-xs-1
              .profile-icon.glyphicon.glyphicon-hand-left
            .col-xs-4.profile-name
              span.pull-left {{ '_Hardness' | t : lang}}
            .col-xs-5
              span.pull-left(ng-if="!profile.ramm") {{ '_pc_hardness' | t : lang}}
              span.pull-left(ng-if="profile.ramm") {{ profile.ramm.length }} {{ '_pc_profiles' | t : lang}}
            .col-xs-2
              span.pull-right
                .profile-chevron.glyphicon.glyphicon-chevron-right

        button.btn.btn-ssa.clickable(ng-click="goto(9)")
          .row.profile-row
            .col-xs-1
              .profile-icon.glyphicon.glyphicon-fullscreen
            .col-xs-4.profile-name
              span.pull-left {{ '_SSA' | t : lang}}
            .col-xs-5
              span.pull-left(ng-if="!profile.ssa") {{ '_pc_ssa' | t : lang}}
              span.pull-left(ng-if="profile.ssa") {{ profile.ssa.length }} {{ '_pc_profiles' | t : lang}}
            .col-xs-2
              span.pull-right
                .profile-chevron.glyphicon.glyphicon-chevron-right

      div(ng-if="active === 2")
        edit-metadata(profile="profile" station="station" control="control")

      div(ng-if="active === 3")
        edit-stratprofile.multiprofile(station="station" profile="profile"
          callback="repaint" collapsible="false")

      div(ng-if="active === 4")
        edit-tempprofile.multiprofile(collapsible="false" profile="profile" station="station"
          callback="repaint" varname="'temperature'")

      div(ng-if="active === 5")
        edit-lwcprofile.multiprofile(collapsible="false" profile="profile" station="station"
          callback="repaint" varname="'lwc'")

      div(ng-if="active === 6")
        edit-densityprofile.multiprofile(collapsible="false" profile="profile" station="station"
          callback="repaint" varname="'density'")

      div(ng-if="active === 7")
        edit-stbprofiles(collapsible="false"
          profile="profile" station="station" callback="repaint")

      div(ng-if="active === 8")
        edit-hardnessprofiles(collapsible="false" profile="profile" 
          station="station" callback="repaint")

      div(ng-if="active === 9")
        edit-ssaprofile.multiprofile(collapsible="false" profile="profile" station="station"
          callback="repaint" varname="'ssa'")

    .modal-footer.settings
      button.btn.btn-default(type="button" ng-if="active === 1 && !header"
        ng-click="cancel()") {{ 'Cancel' | t : lang }}
      button.btn.btn-primary(type="button" ng-if="active === 0" ng-click="goto(1)"
        ng-disabled="modalForm.$invalid" ) {{ 'Next' | t : lang }}
      button.btn.btn-primary(type="button" ng-if="active > 1"
        ng-click="goto(1)") {{ 'Back' | t : lang }}
      button.btn.btn-primary(type="button" ng-if="active === 1" ng-click="save()"
        ng-disabled="modalForm.$invalid" ) {{ header ? 'Done' : 'Draw' | t : lang }}
