include edit-profiles

mixin temp-metadata(fname)
  form.form-horizontal.metaform(role="form" name= fname
    ng-submit="savemeta($index); "+fname+".$setPristine();"
    ng-if="status.ismetaopen[$index]")
    +mixin-meta(fname)

mixin tprofheading(fname)
  .clickable(ng-click="isOpen[$index]=!isOpen[$index]")
    .layer-header
      .accordion-label {{layer.top}} cm
      .details-to
        span
          | &nbsp;&nbsp;&ndash;&nbsp;{{layer.value}} °C
        span.label.label-danger(
          ng-show="profile && "+fname+" !== undefined && "+fname+".$invalid") Error
        span.label.label-warning(
          ng-show="profile && "+fname+" !== undefined && !"+fname+".$pristine") Changed
        span.label.label-info(ng-show="layer.overlapping") Overlapping
    i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': isOpen[$index], 'glyphicon-chevron-right': !isOpen[$index]}")

mixin tprofile(fname, submitcode, layer)
  form.form-horizontal(role="form" name= fname ng-submit= submitcode)
    .form-group.form-group-sm.row
      label.col-sm-3.control-label {{ '_pe_position' | t : lang}}
      .col-sm-4
        .input-group.input-group-sm
          input.form-control.top-value(type="number" ng-model=layer+".top" required dnd-nodrag-mouseover
            min="-10000" max="10000" placeholder="{{ '_pe_top' | t : lang}}" step="0.0000000001")
          span.input-group-addon cm
    .form-group.form-group-sm.row
      label.col-sm-3.control-label {{ '_pe_temp' | t : lang}}
      .col-sm-4
        .input-group.input-group-sm
          span.input-group-addon &ndash;
          input.form-control(type="number" ng-model=layer+".value" required dnd-nodrag-mouseover
            min="0" max="99" placeholder="Temperature" step="0.0000000001")
          span.input-group-addon °C
    .row(ng-hide="true")
      button.btn.btn-primary(type="submit" ng-disabled=fname + ".$pristine || " + fname + ".$invalid")

script(type="text/ng-template" id="add-temp.html")
  .container(ng-form="tempaddforms[$index]")
    +tprofile("$parent.editform", "addlayer(layer[$index], $index);", "layer[$index]")
    +mixin-new-layer-btn-bar("addlayer(layer[$index], $index);", "$index")

script(type="text/ng-template" id="edit-tprofile.html")
  //- Temperature - non stratigraphic measurement
  .container.profile-header
    +mixin-addprofile("temperature", "'_pe_tempprofiles'")
  div(dnd-list="temperature" dnd-inserted="moved(index)")
    .t-panel(ng-repeat="p in temperature" ng-form="tempform[$index]"
      dnd-draggable="p"  dnd-effect-allowed="move" dnd-moved="move(temperature, $index)")
      +mixin-profile-header-bar("'_pe_tempprofile'", true)
      div(uib-collapse="status.iscollapsed[$index]")
        .scrollable-container
          +temp-metadata("tmetaform")
          +mixin-profile-header-btn-bar("['top']", true, true)
          add-temp(ng-if="status.showaddlayer || !collapsible")
          uib-accordion(close-others="false")
            .panel-default(uib-accordion-group ng-repeat="layer in p | orderBy: '-topcopy'" is-open="isOpen[$index]")
              uib-accordion-heading(style="width: 100%;" ng-form="editform[$index]")
                +tprofheading("editform[$index]")
              .accordion-body(ng-if="isOpen")
                +tprofile("editform[$index]", "save(layer, $parent.$parent.$parent.$parent.$index); editform[$index].$setPristine();", "layer")
                +mixin-layer-btn-bar("editform[$index]", "$parent.$parent.$parent.$parent.$index")
              br
