include edit-profiles

mixin density-metadata(fname)
  form.form-horizontal.metaform(role="form" name= fname
    ng-submit="savemeta($index); "+fname+".$setPristine();"
    ng-if="status.ismetaopen[$index]")
    .form-group.form-group-sm.row
      label.col-sm-3.control-label {{ '_pe_method' | t : lang}}
      .col-sm-6
        ui-select(ng-model="meta[$index].method" theme="bootstrap" reset-search-input="true")
          ui-select-match(placeholder="{{ '_pe_method' | t : lang}}")
            | {{ $select.selected }}
          ui-select-choices(repeat="choice in methods | filter: $select.search track by $index")
            span(ng-bind="choice")
    +mixin-meta(fname)

mixin densityprofheading(fname)
  .clickable(ng-click="isOpen[$index]=!isOpen[$index]")
    .layer-header
      .accordion-label {{layer.top}} &ndash; {{layer.bottom}} cm
      .details-to
        span
          | &nbsp;&nbsp;{{layer.value}} kg / m
          sup 3
        span.label.label-danger(
          ng-show="profile && "+fname+" !== undefined && "+fname+".$invalid") Error
        span.label.label-warning(
          ng-show="profile && "+fname+" !== undefined && !"+fname+".$pristine") Changed
        span.label.label-info(ng-show="layer.overlapping") Overlapping
    i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': isOpen[$index], 'glyphicon-chevron-right': !isOpen[$index]}")

mixin densityprofile(fname, submitcode, layer)
  form.form-horizontal(role="form" name= fname ng-submit= submitcode)
    .form-group.form-group-sm.row
      label.col-sm-3.control-label {{ '_pe_position' | t : lang }}
      .col-sm-4
        .input-group.input-group-sm
          input.form-control.top-value(type="number" ng-model=layer+".top" dnd-nodrag-mouseover
            required ng-change="compute("+layer+");" min="-10000" max="10000"
            placeholder="{{ '_pe_top' | t : lang }}" step="0.0000000001")
          span.input-group-addon cm
      .col-sm-4
        .input-group.input-group-sm
          input.form-control.bottom-value(type="number" ng-model=layer+".bottom"
            leq-than=layer+".top" required ng-change="compute("+layer+");" min="-10000" max="10000"
            placeholder="{{ '_pe_bottom' | t : lang }}" step="0.0000000001")
          span.input-group-addon cm
    .form-group.form-group-sm.row
      label.col-sm-3.control-label {{ '_pe_density' | t : lang }} / {{ '_pe_density_swe' | t : lang }}
      .col-sm-4
        .input-group.input-group-sm
          input.form-control(type="number" ng-model=layer+".value"
            ng-change="compute("+layer+", 'density');"
            required min="0" max="10000" placeholder="Density" step="0.0000000001")
          span.input-group-addon kg / m
            sup 3
      .col-sm-4
        .input-group.input-group-sm
          input.form-control(type="number" ng-model=layer+".swe" dnd-nodrag-mouseover
            ng-change="compute("+layer+", 'swe');"
            required min="0" max="10000" placeholder="SWE" step="0.0000000001")
          span.input-group-addon mm
    .row(ng-hide="true")
      button.btn.btn-primary(type="submit" ng-disabled=fname + ".$pristine || " + fname + ".$invalid")

script(type="text/ng-template" id="add-density.html")
  .container(ng-form="densityaddforms[$index]")
    +densityprofile("$parent.editform", "addlayer(layer[$index], $index);", "layer[$index]")
    +mixin-new-layer-btn-bar("addlayer(layer[$index], $index);", "$index")

script(type="text/ng-template" id="edit-densityprofile.html")
  //- DENSITY - non stratigraphic measurement
  .container.profile-header
    +mixin-addprofile("density", "'_pe_densityprofiles'")
  div(dnd-list="density" dnd-inserted="moved(index)")
    .density-panel(ng-repeat="p in density" ng-form="densityform[$index]"
      dnd-draggable="p"  dnd-effect-allowed="move" dnd-moved="move(density, $index)")
      +mixin-profile-header-bar("'_pe_densityprofile'", true)
      div(uib-collapse="status.iscollapsed[$index]" dnd-nodrag)
        .scrollable-container
          +density-metadata("dmetaform")
          +mixin-profile-header-btn-bar("['top', 'bottom']", true, true)
          add-density(ng-if="status.showaddlayer || !collapsible")
          uib-accordion(close-others="false")
            .panel-default(uib-accordion-group ng-repeat="layer in p | orderBy: '-topcopy'" is-open="isOpen[$index]")
              uib-accordion-heading(style="width: 100%;" ng-form="editform[$index]")
                +densityprofheading("editform[$index]")
              .accordion-body(ng-if="isOpen")
                +densityprofile("editform[$index]", "save(layer, $parent.$parent.$parent.$parent.$index); editform[$index].$setPristine();", "layer")
                +mixin-layer-btn-bar("editform[$index]", "$parent.$parent.$parent.$parent.$index", true)
              br
