include edit-profiles

mixin impurity-metadata(fname)
  form.form-horizontal.metaform(role="form" name= fname
    ng-submit="savemeta($index); "+fname+".$setPristine();"
    ng-if="status.ismetaopen[$index]")
    .form-group.form-group-sm.row
      label.col-sm-3.control-label {{ '_pe_impurityfraction' | t : lang}}
      .col-sm-6
        ui-select(ng-model="meta[$index].fractiontype" theme="bootstrap" reset-search-input="true")
          ui-select-match(placeholder="{{ '_pe_impurityfraction' | t : lang}}")
            | {{ $select.selected }}
          ui-select-choices(repeat="choice in fractiontypes | filter: $select.search track by $index")
            span(ng-bind="choice")
    .form-group.form-group-sm.row
      label.col-sm-3.control-label {{ '_pe_impuritytype' | t : lang}}
      .col-sm-6
        ui-select(ng-model="meta[$index].impuritytype" theme="bootstrap" reset-search-input="true")
          ui-select-match(placeholder="{{ '_pe_impuritytype' | t : lang}}")
            | {{ $select.selected }}
          ui-select-choices(repeat="choice in impuritytypes | filter: $select.search track by $index")
            span(ng-bind="choice")
    .form-group.form-group-sm.row
      label.col-sm-3.control-label {{ '_pe_method' | t : lang}}
      .col-sm-6
        ui-select(ng-model="meta[$index].method" theme="bootstrap" reset-search-input="true")
          ui-select-match(placeholder="{{ '_pe_method' | t : lang}}")
            | {{ $select.selected }}
          ui-select-choices(repeat="choice in methods | filter: $select.search track by $index")
            span(ng-bind="choice")
    +mixin-meta(fname)

mixin impurityprofheading(fname)
  .clickable(ng-click="isOpen[$index]=!isOpen[$index]")
    .layer-header
      .accordion-label {{layer.top}} &ndash; {{layer.bottom}} cm
      .details-to
        span
          | &nbsp;&nbsp;{{layer.value}} %
        span.label.label-danger(
          ng-show="profile && "+fname+" !== undefined && "+fname+".$invalid") Error
        span.label.label-warning(
          ng-show="profile && "+fname+" !== undefined && !"+fname+".$pristine") Changed
        span.label.label-info(ng-show="layer.overlapping") Overlapping
    i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': isOpen[$index], 'glyphicon-chevron-right': !isOpen[$index]}")

mixin impurityprofile(fname, submitcode, layer)
  form.form-horizontal(role="form" name= fname ng-submit= submitcode)
    .form-group.form-group-sm.row
      label.col-sm-3.control-label {{ '_pe_position' | t : lang }}
      .col-sm-4
        .input-group.input-group-sm
          input.form-control.top-value(type="number" ng-model=layer+".top" dnd-nodrag-mouseover
            required ng-change="compute("+layer+");" min="-10000" max="10000"
            placeholder="{{ '_pe_top' | t : lang }}" step="0.0000000001")
          span.input-group-addon cm
      .col-sm-4
        .input-group.input-group-sm
          input.form-control.bottom-value(type="number" ng-model=layer+".bottom" dnd-nodrag-mouseover
            leq-than=layer+".top" required ng-change="compute("+layer+");" min="-10000" max="10000"
            placeholder="{{ '_pe_bottom' | t : lang }}" step="0.0000000001")
          span.input-group-addon cm
    .form-group.form-group-sm.row
      label.col-sm-3.control-label {{ '_pe_impurity' | t : lang }}
      .col-sm-4
        .input-group.input-group-sm
          input.form-control(type="number" ng-model=layer+".value" dnd-nodrag-mouseover
            required min="0" max="100" placeholder="Impurity" step="0.0000000001")
          span.input-group-addon %
    .row(ng-hide="true")
      button.btn.btn-primary(type="submit" ng-disabled=fname + ".$pristine || " + fname + ".$invalid")

script(type="text/ng-template" id="add-impurity.html")
  .container(ng-form="impurityaddforms[$index]")
    +impurityprofile("$parent.editform", "addlayer(layer[$index], $index);", "layer[$index]")
    +mixin-new-layer-btn-bar("addlayer(layer[$index], $index);", "$index")

script(type="text/ng-template" id="edit-impurityprofile.html")
  //- IMPURITY - non stratigraphic measurement
  .container.profile-header
    +mixin-addprofile("impurity", "'_pe_impurityprofiles'")
  div(dnd-list="impurity" dnd-inserted="moved(index)")
    .impurity-panel(ng-repeat="p in impurity" ng-form="impurityform[$index]"
      dnd-draggable="p"  dnd-effect-allowed="move" dnd-moved="move(impurity, $index)")
      +mixin-profile-header-bar("'_pe_impurityprofile'", true)
      div(uib-collapse="status.iscollapsed[$index]")
        .scrollable-container
          +impurity-metadata("dmetaform")
          +mixin-profile-header-btn-bar("['top', 'bottom']", true, true)
          add-impurity(ng-if="status.showaddlayer || !collapsible")
          uib-accordion(close-others="false")
            .panel-default(uib-accordion-group ng-repeat="layer in p | orderBy: '-topcopy'" is-open="isOpen[$index]")
              uib-accordion-heading(style="width: 100%;" ng-form="editform[$index]")
                +impurityprofheading("editform[$index]")
              .accordion-body(ng-if="isOpen")
                +impurityprofile("editform[$index]", "save(layer, $parent.$parent.$parent.$parent.$index); editform[$index].$setPristine();", "layer")
                +mixin-layer-btn-bar("editform[$index]", "$parent.$parent.$parent.$parent.$index", true)
              br
