include edit-profiles

mixin mixin-stratigraphy-header-btn-bar
  .panel.panel-default.panel-profile
    .panel-body.panel-btn-bar
      .btn-toolbar.btn-toolbar-sm.pull-right
        button.btn.btn-sm.btn-default(ng-click="status.showaddlayer = !status.showaddlayer;")
          span.glyphicon.glyphicon-plus
          span &nbsp;{{ '_pe_btn_add_layer' | t : lang }}

mixin stratprofheading(fname)
  .clickable(ng-click="cancel(layer);")
    .layer-header
      .accordion-label {{layer.top}} &ndash; {{layer.bottom}} cm
      .details-to
        span &nbsp;&nbsp;{{layer.hardness}}&nbsp;
        .symbol {{layer.grainshape}}
        span.label.label-danger(
          ng-show="profile && "+fname+" !== undefined && "+fname+".$invalid") Error
        span.label.label-warning(
          ng-show="profile && "+fname+" !== undefined && !"+fname+".$pristine") Changed
        span.label.label-info(ng-show="layer.overlapping") Overlapping
    i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': isopened[$index], 'glyphicon-chevron-right': !isopened[$index]}")

mixin stratprofile(fname, submitcode, layer)
  form.form-horizontal(role="form" name= fname ng-submit= submitcode)
    .form-group.form-group-sm.row
      label.col-sm-3.control-label {{ '_pe_position' | t : lang}}
      .col-sm-4
        .input-group.input-group-sm
          input.form-control.top-value(type="number" ng-model=layer+".top"
            required ng-change="compute("+layer+");"
            min="-10000" max="10000" placeholder="{{ '_pe_top' | t : lang}}" step="0.0000000001")
          span.input-group-addon cm
      .col-sm-4
        .input-group.input-group-sm
          input.form-control.bottom-value(type="number" ng-model=layer+".bottom"
            leq-than=layer+".top" required ng-change="compute("+layer+");"
            min="-10000" max="10000" placeholder="{{ '_pe_bottom' | t : lang}}" step="0.0000000001")
          span.input-group-addon cm
    .form-group.form-group-sm.row
      label.col-sm-3.control-label {{ '_pe_strat_wetness_hhi' | t : lang}}
      .col-sm-4
        ui-select(ng-model=layer+".wetness" theme="bootstrap" reset-search-input="true"
          uib-tooltip="{{ '_pe_strat_tt_wetness' | t : lang }}" tooltip-placement="top")
          ui-select-match(placeholder="θ" allow-clear="true") {{ $select.selected }}
          ui-select-choices.wet-choices(repeat="choice in niviz.Value.Wetness.caamlcodes | filter: $select.search track by $index")
            span(ng-bind="choice")
      .col-sm-4
        ui-select(ng-model=layer+".hardness" theme="bootstrap" reset-search-input="true"
          uib-tooltip="{{ '_pe_strat_tt_hhi' | t : lang }}" tooltip-placement="top")
          ui-select-match(placeholder="R" allow-clear="true") {{ $select.selected }}
          ui-select-choices(repeat="choice in niviz.Value.Hardness.allcodes | filter: $select.search track by $index")
            span(ng-bind="choice")
    .form-group.form-group-sm.row
      label.col-sm-3.control-label {{ '_pe_strat_grainshape' | t : lang }}
      .col-sm-4
        ui-select(ng-model=layer+".grainform.primary" theme="bootstrap" reset-search-input="true"
          uib-tooltip="{{ '_pe_strat_tt_primary' | t : lang }}" tooltip-placement="top")
          ui-select-match(placeholder="Primary" allow-clear="true")
            span(style="font-family: snowsymbolsiacs; width: auto;") {{ $select.selected.key }}
            | &nbsp;&nbsp;&nbsp; {{ $select.selected.id }}
          ui-select-choices.gs-choice(repeat="choice in niviz.Value.GrainShape.options | filter: {id: ($select.search != null && $select.search || $select.selected.id)} track by $index")
            span(ng-bind="choice.key" style="font-family: snowsymbolsiacs;")
            | &nbsp;&nbsp;&nbsp; {{ choice.id }}
      .col-sm-4
        ui-select(ng-model=layer+".grainform.secondary" theme="bootstrap"
          uib-tooltip="{{ '_pe_strat_tt_secondary' | t : lang }}" tooltip-placement="top"
          reset-search-input="true" title="" ng-disabled="!"+layer+".grainform.primary.id")
          ui-select-match(placeholder="Secondary" allow-clear="true")
            span(style="font-family: snowsymbolsiacs; width: auto;") {{ $select.selected.key }}
            | &nbsp;&nbsp;&nbsp; {{ $select.selected.id }}
          ui-select-choices.gs-choice(repeat="choice in niviz.Value.GrainShape.options | filter: {id: ($select.search != null && $select.search || $select.selected.id)} track by $index")
            span(ng-bind="choice.key" style="font-family: snowsymbolsiacs;")
            | &nbsp;&nbsp;&nbsp; {{ choice.id }}
    .form-group.form-group-sm.row
      label.col-sm-3.control-label {{ '_pe_strat_grainsize' | t : lang }}
      .col-sm-4
        .input-group.input-group-sm
          input.form-control(type="number" ng-model=layer+".grainsize.avg"
            min="0.001" max="100" placeholder="Average" step="0.001")
          span.input-group-addon mm (avg)
      .col-sm-4
        .input-group.input-group-sm
          input.form-control(type="number" ng-model=layer+".grainsize.max"
            min="0.001" max="100" placeholder="Max" step="0.001" bigger-than=layer+".grainsize.avg")
          span.input-group-addon mm (max)
    .form-group.form-group-sm.row
      label.col-sm-3.control-label {{ '_pe_comment' | t : lang }}
      .col-sm-9
        input.form-control(type="text" ng-model=layer+".comments"
          placeholder="{{ '_pe_comment' | t : lang }}")

    .row(ng-hide="true")
      button.btn.btn-primary(type="submit" ng-disabled=fname + ".$pristine || " + fname + ".$invalid")


script(type="text/ng-template" id="add-stratigraphy.html")
  .container(ng-form="strataddforms[$index]")
    +stratprofile("$parent.editform", "status.showaddlayer = !!newlayer.bottom; addlayer(newlayer);", "newlayer")
    +mixin-new-layer-btn-bar("status.showaddlayer = !!newlayer.bottom; addlayer(newlayer);", "0")

script(type="text/ng-template" id="edit-stratprofile.html")
  //- Stratigraphic measurements
  div(uib-collapse="status.iscollapsed")
    .scrollable-container
      +mixin-stratigraphy-header-btn-bar
      add-stratigraphy(ng-if="status.showaddlayer || !collapsible")
      uib-accordion(close-others="false")
        .panel-default(uib-accordion-group ng-repeat="layer in cloneSP | orderBy: '-index'" is-open="isopened[$index]" id="{{'stratlayer' +$index}}")
          uib-accordion-heading(style="width: 100%;" ng-form="editform[$index]")
            +stratprofheading("editform[$index]")
          .accordion-body(ng-if="isopened[$index]")
            +stratprofile("editform[$index]", "save(layer); editform[$index].$setPristine();", "layer")
            +mixin-layer-btn-bar("editform[$index]", "$index", true)
          br
