include edit-profiles

mixin lwc-metadata(fname, varname)
  form.form-horizontal.metaform(role="form" name= fname
    ng-submit="savemeta($index); "+fname+".$setPristine();"
    ng-if="status.ismetaopen[$index]")
    +pointprofile-selector(varname)
    .form-group.form-group-sm.row
      label.col-sm-3.control-label {{ '_pe_method' | t : lang }}
      .col-sm-6
        ui-select(ng-model="meta[$index].method" theme="bootstrap" reset-search-input="true")
          ui-select-match(placeholder="{{ '_pe_method' | t : lang}}")
            | {{ $select.selected }}
          ui-select-choices(repeat="choice in methods | filter: $select.search track by $index")
            span(ng-bind="choice")
    +mixin-meta(fname)

mixin lwcprofheading(fname, pindex)
  .clickable(ng-click="isOpen[$index]=!isOpen[$index]")
    .layer-header
      .accordion-label(ng-if="!meta["+pindex+"].pointprofile")
        | {{layer.top}} &ndash; {{layer.bottom}} cm
      .accordion-label(ng-if="meta["+pindex+"].pointprofile") {{layer.top}} cm
      .details-to
        span
          | &nbsp;&nbsp;{{layer.value}} %
        span.label.label-danger(
          ng-show="profile && "+fname+" !== undefined && "+fname+".$invalid") Error
        span.label.label-warning(
          ng-show="profile && "+fname+" !== undefined && !"+fname+".$pristine") Changed
        span.label.label-info(ng-show="layer.overlapping") Overlapping
    i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': isOpen[$index], 'glyphicon-chevron-right': !isOpen[$index]}")

mixin lwcprofile(fname, submitcode, layer, pindex)
  form.form-horizontal(role="form" name= fname ng-submit= submitcode)
    .form-group.form-group-sm.row
      label.col-sm-3.control-label {{ '_pe_position' | t : lang }}
      .col-sm-4
        .input-group.input-group-sm
          input.form-control.top-value(type="number" ng-model=layer+".top" required
            min="-10000" max="10000" placeholder="{{ '_pe_top' | t : lang }}" step="0.0000000001")
          span.input-group-addon cm
      .col-sm-4(ng-if="!meta["+pindex+"].pointprofile")
        .input-group.input-group-sm
          input.form-control.bottom-value(type="number" ng-model=layer+".bottom"
            leq-than=layer+".top" required min="-10000" max="10000"
            placeholder="{{ '_pe_bottom' | t : lang }}" step="0.0000000001")
          span.input-group-addon cm
    .form-group.form-group-sm.row
      label.col-sm-3.control-label {{ '_pe_lwc_wetness' | t : lang }}
      .col-sm-4
        .input-group.input-group-sm
          input.form-control(type="number" ng-model=layer+".value" required
            min="0" max="100" placeholder="Wetness" step="0.0000000001")
          span.input-group-addon %
    .row(ng-hide="true")
      button.btn.btn-primary(type="submit" ng-disabled=fname + ".$pristine || " + fname + ".$invalid")

script(type="text/ng-template" id="add-lwc.html")
  .container(ng-form="lwcaddforms[$index]")
    +lwcprofile("$parent.editform", "addlayer(layer[$index], $index);", "layer[$index]", "$index")
    +mixin-new-layer-btn-bar("addlayer(layer[$index], $index);", "$index")

script(type="text/ng-template" id="edit-lwcprofile.html")
  //- LWC - non stratigraphic measurement
  .container.profile-header
    +mixin-addprofile("lwc", "'_pe_lwcprofiles'")
  div(dnd-list="lwc" dnd-inserted="moved(index)")
    .lwc-panel(ng-repeat="p in lwc" ng-form="lwcform[$index]"
      dnd-draggable="p"  dnd-effect-allowed="move" dnd-moved="move(lwc, $index)")
      +mixin-profile-header-bar("'_pe_lwcprofile'", true)
      div(uib-collapse="status.iscollapsed[$index]")
        .scrollable-container
          +lwc-metadata("lmetaform", "lwc")
          +mixin-profile-header-btn-bar("['top', 'bottom']", true, true)
          add-lwc(ng-if="status.showaddlayer || !collapsible")
          uib-accordion(close-others="false")
            .panel-default(uib-accordion-group ng-repeat="layer in p | orderBy: '-topcopy'" is-open="isOpen[$index]")
              uib-accordion-heading(style="width: 100%;" ng-form="editform[$index]")
                +lwcprofheading("editform[$index]", "$parent.$parent.$parent.$parent.$index")
              .accordion-body(ng-if="isOpen")
                +lwcprofile("editform[$index]", "save(layer, $parent.$parent.$parent.$parent.$index); editform[$index].$setPristine();", "layer", "$parent.$parent.$parent.$parent.$index")
                +mixin-layer-btn-bar("editform[$index]", "$parent.$parent.$parent.$parent.$index", true)
              br
