mixin pointprofile-selector(varname)
  .form-group.form-group-sm.row
    label.col-sm-3.control-label {{ '_pe_profile_type' | t : lang}}
    .col-sm-6
      ui-select(ng-model="meta[$index].pointprofile" theme="bootstrap" reset-search-input="true"
        ng-disabled= varname+"[$index].length")
        ui-select-match(placeholder="{{ '_pe_profile_type' | t : lang}}")
          | {{ $select.selected.name | t : lang }}
        ui-select-choices(repeat="choice.value as choice in (profiletypes | filter: $select.search) track by $index")
          | {{ choice.name | t : lang }}

mixin mixin-profile-header-bar(profile, showmeta)
  .panel.panel-default.panel-profile(ng-click="status.iscollapsed[$index] = !status.iscollapsed[$index]" type="button")
    .panel-heading(style="overflow: hidden;")
      .right-icons.pull-right
        a.metadata(ng-click="togglemeta($event, $index);" tooltip-append-to-body="true"
          uib-tooltip="{{ '_pe_btn_show_meta' | t : lang }}" tooltip-placement="bottom"
          ng-class="{'opened-meta': status.ismetaopen[$index]}" ng-if=""+showmeta+"")
          i.glyphicon.glyphicon-cog
        i.glyphicon(ng-class="{'glyphicon-chevron-right': status.iscollapsed[$index], 'glyphicon-chevron-down': !status.iscollapsed[$index]}")
      .profile-list-title.clearfix {{ !{profile} | t : lang}} {{$index + 1}}

mixin mixin-profile-header-btn-bar(stratigraphy, importbtn, exportbtn)
  .panel.panel-default.panel-profile
    .panel-body.panel-btn-bar
      .btn-toolbar.btn-toolbar-sm.pull-left
        button.btn.btn-sm.btn-default(ng-click="copystratigraphy($index, "+stratigraphy+");"
          uib-tooltip="{{ '_pe_btn_tt_use_strat' | t : lang }}" tooltip-placement="bottom"
          tooltip-append-to-body="true"
          ng-disabled="this[varname][$index].length !== 0" ng-if= stratigraphy+"")
          span.glyphicon.glyphicon-paste
          span &nbsp; {{ '_pe_use_stratigraphy' | t : lang }}
        button.btn.btn-sm.btn-default(ng-click="importcsv($index);"
          uib-tooltip="{{ '_pe_btn_tt_import' | t : lang }}" tooltip-placement="bottom"
          tooltip-append-to-body="true"
          ng-disabled="this[varname][$index].length !== 0" ng-if= importbtn+"")
          span.glyphicon.glyphicon-import
          span &nbsp; {{ '_pe_import' | t : lang }}
        button.btn.btn-sm.btn-default(ng-click="exportcsv($index);"
          uib-tooltip="{{ '_pe_btn_tt_export' | t : lang }}" tooltip-placement="bottom"
          tooltip-append-to-body="true"
          ng-disabled="this[varname][$index].length === 0" ng-if= exportbtn+"")
          span.glyphicon.glyphicon-export
          span &nbsp; {{ '_pe_export' | t : lang }}
      .btn-toolbar.btn-toolbar-sm.pull-right
        button.btn.btn-sm.btn-default(ng-click="status.showaddlayer = !status.showaddlayer;")
          span.glyphicon.glyphicon-plus
          span &nbsp;{{ '_pe_btn_add_layer' | t : lang }}
        button.btn.btn-sm.btn-default(ng-click="rmprofile($index);")
          span.glyphicon.glyphicon-trash
          span &nbsp;{{ '_pe_btn_delete_profile' | t : lang }}

mixin mixin-addprofile(varname, label, btnlabel)
  .profile-title.pull-left {{ !{label} | t : lang }}
  .btn-toolbar.btn-toolbar-sm.pull-right
    button.btn.btn-sm.btn-default(type="button" ng-click="addprofile();"
      ng-disabled=varname+".length && !"+varname+"["+varname+".length - 1].length")
      span.glyphicon.glyphicon-plus
      span &nbsp; {{ !{btnlabel + "|| '_pe_btn_add_profile'"} | t : lang }}

mixin mixin-meta(fname)
  .form-group.form-group-sm.row
    label.col-sm-3.control-label {{ '_pe_comment' | t : lang }}
    .col-sm-9
      input.form-control(type="text" ng-model="meta[$index].comment" dnd-nodrag-mouseover
        placeholder="{{ '_pe_comment' | t : lang }}")
  .form-group.form-group-sm.row
    .btn-toolbar.pull-right
      button.btn.btn-sm.btn-default(type="button"
        ng-click="cancelmeta($index); "+fname+".$setPristine();"
        ng-disabled=fname+".$pristine") {{ '_pe_btn_cancel' | t : lang }}
      button.btn.btn-sm.btn-primary(type="submit"
        ng-click="savemeta($index); "+fname+".$setPristine();"
        ng-disabled=fname+".$pristine || "+fname+".$invalid") {{ '_pe_btn_apply' | t : lang }}

mixin mixin-new-layer-btn-bar(submitcode, nr)
  .btn-toolbar.btn-toolbar-sm.pull-right
    button.btn.btn-sm.btn-default(type=" button" ng-click="clear("+nr+");")
      | {{ '_pe_btn_clear' | t : lang }}
    button.btn.btn-sm.btn-primary(type="submit" ng-click=submitcode
      ng-disabled="editform.$pristine || editform.$invalid")
      | {{ '_pe_btn_save_meas' | t : lang }}

mixin mixin-layer-btn-bar(fname, ielem, insertbtn)
  .btn-toolbar.pull-left
    button.btn.btn-sm.btn-default(type="button"
      ng-click="remove(layer.index, "+ielem+");") {{ '_pe_btn_delete_layer' | t : lang }}
    button.btn.btn-sm.btn-default(type="button" ng-if="!meta["+ielem+"].pointprofile &&" + insertbtn
      ng-click="insert(layer.index, "+ielem+");")
      | {{ '_pe_btn_insert_layer' | t : lang }}
  .btn-toolbar.pull-right
    button.btn.btn-sm.btn-default(type="button"
      ng-click="cancel(layer, "+ielem+"); "+fname+".$setPristine();"
      ng-disabled=fname+".$pristine") {{ '_pe_btn_cancel' | t : lang }}
    button.btn.btn-sm.btn-primary(type="submit"
      ng-click="save(layer, "+ielem+"); "+fname+".$setPristine();"
      ng-disabled=fname+".$pristine || "+fname+".$invalid") {{ '_pe_btn_apply' | t : lang }}
