include edit-profiles

mixin mixin-ram-profile-header-btn-bar(stratigraphy, importbtn, exportbtn)
  .panel.panel-default.panel-profile
    .panel-body.panel-btn-bar
      .btn-toolbar.btn-toolbar-sm.pull-left
        button.btn.btn-sm.btn-default(ng-click="copystratigraphy($index, "+stratigraphy+");"
          uib-tooltip="{{ '_pe_btn_tt_use_strat' | t : lang }}" tooltip-placement="bottom"
          tooltip-append-to-body="true"
          ng-disabled="this[varname][$index].length !== 0" ng-if= stratigraphy+"")
          span.glyphicon.glyphicon-paste
          span &nbsp; {{ '_pe_use_stratigraphy' | t : lang }}
        button.btn.btn-sm.btn-default(ng-click="importcsv($index);"
          uib-tooltip="{{ '_pe_btn_tt_import' | t : lang }}" tooltip-placement="bottom"
          tooltip-append-to-body="true"
          ng-disabled="this[varname][$index].length !== 0" ng-if= importbtn+"")
          span.glyphicon.glyphicon-import
          span &nbsp; {{ '_pe_import' | t : lang }}
        button.btn.btn-sm.btn-default(ng-click="exportcsv($index);"
          uib-tooltip="{{ '_pe_btn_tt_export' | t : lang }}" tooltip-placement="bottom"
          tooltip-append-to-body="true"
          ng-disabled="this[varname][$index].length === 0" ng-if= exportbtn+"")
          span.glyphicon.glyphicon-export
          span &nbsp; {{ '_pe_export' | t : lang }}
      .btn-toolbar.btn-toolbar-sm.pull-right
        button.btn.btn-sm.btn-default(ng-click="status.showaddlayer = false; status.showsimpleaddlayer = !status.showsimpleaddlayer;")
          span.glyphicon.glyphicon-plus
          span &nbsp;{{ '_pe_btn_add_simple_layer' | t : lang }}
        button.btn.btn-sm.btn-default(ng-click="status.showsimpleaddlayer = false; status.showaddlayer = !status.showaddlayer;")
          span.glyphicon.glyphicon-plus
          span &nbsp;{{ '_pe_btn_add_layer' | t : lang }}
        button.btn.btn-sm.btn-default(ng-click="rmprofile($index);")
          span.glyphicon.glyphicon-trash
          span &nbsp;{{ '_pe_btn_delete_profile' | t : lang }}

mixin ram-metadata(fname)
  form.form-horizontal.metaform(role="form" name= fname
    ng-submit="savemeta($index); "+fname+".$setPristine();"
    ng-if="status.ismetaopen[$index]")
    +mixin-meta(fname)

mixin ramprofheading(fname)
  .clickable(ng-click="isOpen[$index]=!isOpen[$index]")
    .layer-header
      .accordion-label {{layer.top}} &ndash; {{layer.bottom}} cm
      .details-to
        | &nbsp;&nbsp;{{layer.value.value}} N
        span.label.label-danger(
          ng-show="profile && "+fname+" !== undefined && "+fname+".$invalid") Error
        span.label.label-warning(
          ng-show="profile && "+fname+" !== undefined && !"+fname+".$pristine") Changed
        span.label.label-info(ng-show="layer.overlapping") Overlapping
    i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': isOpen[$index], 'glyphicon-chevron-right': !isOpen[$index]}")

mixin ramprofile(fname, submitcode, layer, pindex)
  form.form-horizontal(role="form" name= fname ng-submit= submitcode)
    .form-group.form-group-sm.row
      label.col-sm-4.control-label {{ 'nDrops' | t : lang }} / {{ 'dropHeight' | t : lang }}
      .col-sm-4
        .input-group.input-group-sm
          input.form-control.top-value(type="number" ng-model=layer+".value.nDrops" dnd-nodrag-mouseover
            ng-change="compute("+layer+", "+pindex+");"
            min="0" max="100" placeholder="nDrops" step="1" required)
          span.input-group-addon times
      .col-sm-4
        .input-group.input-group-sm
          input.form-control(type="number" ng-model=layer+".value.dropHeight" dnd-nodrag-mouseover
            ng-change="compute("+layer+", "+pindex+");"
            min="0" max="10000" placeholder="dropHeight" step="0.0000000001" required)
          span.input-group-addon cm
    .form-group.form-group-sm.row
      label.col-sm-4.control-label {{ 'penetrationDepth' | t : lang }} / {{ 'Δh' | t : lang }}
      .col-sm-4
        .input-group.input-group-sm
          input.form-control(type="number" ng-model=layer+".depthBottom" required dnd-nodrag-mouseover
            ng-change="compute("+layer+", "+pindex+");"
            min="-10000" max="10000" placeholder="depth" step="0.0000000001")
          span.input-group-addon cm
      .col-sm-4
        .input-group.input-group-sm
          input.form-control(type="number" ng-model=layer+".value.height" required dnd-nodrag-mouseover
            min="-10000" max="10000" placeholder="Δh"  step="0.0000000001" disabled="true")
          span.input-group-addon cm
    .form-group.form-group-sm.row
      label.col-sm-4.control-label {{ 'Weight' | t : lang }} {{ 'hammer' | t : lang }} / {{ 'tube' | t : lang }}
      .col-sm-4
        .input-group.input-group-sm
          input.form-control(type="number" ng-model=layer+".value.weightHammer" dnd-nodrag-mouseover
            ng-change="compute("+layer+", "+pindex+");"
            min="0" max="10000" placeholder="weightHammer" step="0.0000000001" required)
          span.input-group-addon kg
      .col-sm-4
        .input-group.input-group-sm
          input.form-control(type="number" ng-model=layer+".value.weightTube" dnd-nodrag-mouseover
            ng-change="compute("+layer+", "+pindex+");"
            min="0" max="10000" placeholder="weightTube" step="0.0000000001" required)
          span.input-group-addon kg
    .form-group.form-group-sm.row
      label.col-sm-4.control-label {{ 'Hardness' | t : lang }}
      .col-sm-4
        .input-group.input-group-sm
          input.form-control(type="number" ng-model=layer+".value.value" required dnd-nodrag-mouseover
            min="0" max="10000" placeholder="Hardness" disabled="true" step="0.0000000001")
          span.input-group-addon N
    .form-group.form-group-sm.row
      label.col-sm-4.control-label {{ '_pe_comment' | t : lang }}
      .col-sm-8
        input.form-control(type="text" ng-model=layer+".value.comment" dnd-nodrag-mouseover
          placeholder="{{ '_pe_comment' | t : lang }}")
    .row(ng-hide="true")
      button.btn.btn-primary(type="submit" ng-disabled=fname + ".$pristine || " + fname + ".$invalid")

mixin ramprofilesimple(fname, submitcode, layer, pindex)
  form.form-horizontal(role="form" name= fname ng-submit= submitcode)
    .form-group.form-group-sm.row
      label.col-sm-3.control-label {{ '_pe_position' | t : lang }}
      .col-sm-4
        .input-group.input-group-sm
          input.form-control.top-value(type="number" ng-model=layer+".top" required dnd-nodrag-mouseover
            min="-10000" max="10000" placeholder="{{ '_pe_top' | t : lang }}" step="0.0000000001")
          span.input-group-addon cm
      .col-sm-4(ng-if="!meta["+pindex+"].pointprofile")
        .input-group.input-group-sm
          input.form-control.bottom-value(type="number" ng-model=layer+".bottom" dnd-nodrag-mouseover
            leq-than=layer+".top" required min="-10000" max="10000"
            placeholder="{{ '_pe_bottom' | t : lang }}" step="0.0000000001")
          span.input-group-addon cm
    .form-group.form-group-sm.row
      label.col-sm-3.control-label {{ 'Hardness' | t : lang }}
      .col-sm-4
        .input-group.input-group-sm
          input.form-control(type="number" ng-model=layer+".value.value" required dnd-nodrag-mouseover
            min="0" max="5000" placeholder="{{ 'Hardness' | t : lang }}" step="0.0000000001")
          span.input-group-addon N
    .row(ng-hide="true")
      button.btn.btn-primary(type="submit" ng-disabled=fname + ".$pristine || " + fname + ".$invalid")

script(type="text/ng-template" id="add-ram.html")
  .container(ng-form="ramaddforms[$index]" ng-if="status.showaddlayer")
    +ramprofile("$parent.editform", "addlayer(layer[$index], $index);", "layer[$index]", "$index")
    +mixin-new-layer-btn-bar("status.showaddlayer = false; addlayer(layer[$index], $index);", "$index")
  .container(ng-form="ramaddforms[$index]" ng-if="status.showsimpleaddlayer")
    +ramprofilesimple("$parent.editform", "addlayer(layer[$index], $index, true);", "layer[$index]", "$index")
    +mixin-new-layer-btn-bar("status.showsimpleaddlayer = false; addlayer(layer[$index], $index, true);", "$index")

script(type="text/ng-template" id="edit-ramprofile.html")
  //- Ram resistance - non stratigraphic measurement
  .container.profile-header
    +mixin-addprofile("ramm", "'_pe_ramprofiles'")
  div(dnd-list="ramm" dnd-inserted="moved(index)")
    .ram-panel(ng-repeat="p in ramm" ng-form="ramform[$index]"
      dnd-draggable="p"  dnd-effect-allowed="move" dnd-moved="move(ramm, $index)")
      +mixin-profile-header-bar("'_pe_ramprofile'", true)
      div(uib-collapse="status.iscollapsed[$index]")
        .scrollable-container
          +ram-metadata("rammetaform")
          +mixin-ram-profile-header-btn-bar(false, true, true)
          add-ram(ng-if="status.showaddlayer || status.showsimpleaddlayer || !collapsible")
          uib-accordion(close-others="false")
            .panel-default(uib-accordion-group ng-repeat="layer in p | orderBy: '-index'" is-open="isOpen[$index]")
              uib-accordion-heading(style="width: 100%;" ng-form="editform[$index]")
                +ramprofheading("editform[$index]")
              .accordion-body(ng-if="isOpen && !layer.simple")
                +ramprofile("editform[$index]", "save(layer, $parent.$parent.$parent.$parent.$index); editform[$index].$setPristine();", "layer", "$parent.$parent.$parent.$parent.$index")
                +mixin-layer-btn-bar("editform[$index]", "$parent.$parent.$parent.$parent.$index")
              .accordion-body(ng-if="isOpen && layer.simple")
                +ramprofilesimple("editform[$index]", "save(layer, $parent.$parent.$parent.$parent.$index); editform[$index].$setPristine();", "layer", "$parent.$parent.$parent.$parent.$index")
                +mixin-layer-btn-bar("editform[$index]", "$parent.$parent.$parent.$parent.$index")
              br

mixin smp-metadata(fname)
  form.form-horizontal.metaform(role="form" name= fname
    ng-submit="savemeta($index); "+fname+".$setPristine();"
    ng-if="status.ismetaopen[$index]")
    +mixin-meta(fname)

mixin smpprofheading(fname)
  .clickable(ng-click="isOpen[$index]=!isOpen[$index]")
    .layer-header
      .accordion-label {{layer.top}} cm
      .details-to
        span
          | &nbsp;&nbsp;{{layer.value.value}} N
        span.label.label-danger(
          ng-show="profile && "+fname+" !== undefined && "+fname+".$invalid") Error
        span.label.label-warning(
          ng-show="profile && "+fname+" !== undefined && !"+fname+".$pristine") Changed
        span.label.label-info(ng-show="layer.overlapping") Overlapping
    i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': isOpen[$index], 'glyphicon-chevron-right': !isOpen[$index]}")

mixin smpprofheading2
  td
    .accordion-label {{layer.top}} cm
  td
    .details-to
      span
        | &nbsp;&nbsp;{{layer.value.value}} N
      span.label.label-danger(
        ng-show="profile && "+fname+" !== undefined && "+fname+".$invalid") Error
      span.label.label-warning(
        ng-show="profile && "+fname+" !== undefined && !"+fname+".$pristine") Changed
      span.label.label-info(ng-show="layer.overlapping") Overlapping


mixin smpprofile(fname, submitcode, layer)
  form.form-horizontal(role="form" name= fname ng-submit= submitcode)
    .form-group.form-group-sm.row
      label.col-sm-3.control-label {{ '_pe_depth' | t : lang }}
      .col-sm-4
        .input-group.input-group-sm
          input.form-control.top-value(type="number" ng-model=layer+".value.depth" required dnd-nodrag-mouseover
            min="-10000" max="10000" placeholder="depth" step="0.0000000001")
          span.input-group-addon cm
    .form-group.form-group-sm.row
      label.col-sm-3.control-label {{ '_pe_smp_force' | t : lang }}
      .col-sm-4
        .input-group.input-group-sm
          input.form-control(type="number" ng-model=layer+".value.value" required dnd-nodrag-mouseover
            min="0" max="10000" placeholder="{{ '_pe_smp_force' | t : lang }}" step="0.0000000001")
          span.input-group-addon N
    .row(ng-hide="true")
      button.btn.btn-primary(type="submit" ng-disabled=fname + ".$pristine || " + fname + ".$invalid")

script(type="text/ng-template" id="add-smp.html")
  .container(ng-form="smpaddforms[$index]")
    +smpprofile("$parent.editform", "addlayer(layer[$index], $index);", "layer[$index]")
    +mixin-new-layer-btn-bar("addlayer(layer[$index], $index);", "$index")

script(type="text/ng-template" id="edit-smpprofile.html")
  //- Snow micropenetrometer (non stratigraphic) measurements
  .container.profile-header
    +mixin-addprofile("smp", "'_pe_smpprofiles'")
  div(dnd-list="smp" dnd-inserted="moved(index)")
    .smp-panel(ng-repeat="p in smp" ng-form="smpform[$index]" ng-init="extrai = $index"
      dnd-draggable="p"  dnd-effect-allowed="move" dnd-moved="move(smp, $index)")
      +mixin-profile-header-bar("'_pe_smpprofile'", true)
      div(uib-collapse="status.iscollapsed[$index]")
        .scrollable-container
          +smp-metadata("smpmetaform")
          +mixin-profile-header-btn-bar(false, true, true)
          add-smp(ng-if="status.showaddlayer || !collapsible")
          uib-accordion(close-others="false" ng-if="p.length < 100")
            .panel-default(uib-accordion-group ng-repeat="layer in p | orderBy: '-topcopy'" is-open="isOpen[$index]")
              uib-accordion-heading(style="width: 100%;" ng-form="editform[$index]")
                +smpprofheading("editform[$index]")
              .accordion-body(ng-if="isOpen")
                +smpprofile("editform[$index]", "save(layer, $parent.$parent.$parent.$parent.$index); editform[$index].$setPristine();", "layer")
                +mixin-layer-btn-bar("editform[$index]", "$parent.$parent.$parent.$parent.$index")
              br

          table.table.table-smp-non-interactive(ng-if="p.length >= 100")
            tr(ng-repeat="layer in p | orderBy: '-topcopy'")
              +smpprofheading2

script(type="text/ng-template" id="edit-hardnessprofiles.html")
  //- Hardness (encompasses ram sonde, penetrometer, push/pull gauge...)
  edit-ramprofile.multiprofile(collapsible="true" profile="profile" station="station"
    callback="callback" varname="'ramm'")
  edit-smpprofile.multiprofile(collapsible="true" profile="profile" station="station"
    callback="callback" varname="'smp'")
