mixin metadata-accordion
  .scrollable-container.meta-section(style="overflow-y:auto;")
    uib-accordion(close-others="true")
      .panel-default(uib-accordion-group is-open="status.open[0]")
        uib-accordion-heading(style="width: 100%;")
          .clickable(ng-click="togglePane($event, 0);")
            div(style="display:inline-block;")
              .panel-heading-title {{ '_pe_meta_location' | t : lang}}
            span.label.label-danger(ng-show="profile && locform.$invalid")
              | {{ '_pe_error' | t : lang}}
            span.label.label-warning(ng-show="profile && !locform.$pristine")
              | {{ '_pe_changed' | t : lang}}
            i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': status.open[0], 'glyphicon-chevron-right': !status.open[0]}")

        .accordion-body
          form.form-horizontal(role="form" name="locform" ng-submit="savemeta(metaforms);")
            .form-group.form-group-sm.row
              label.col-sm-3.control-label {{ '_pe_meta_name' | t : lang}}
              .col-sm-9
                input.form-control(type="text" name="stationname" ng-model="meta.name"
                  placeholder="{{ '_pe_meta_name' | t : lang}}" required)
            .form-group.form-group-sm.row
              label.col-sm-3.control-label {{ '_pe_meta_description' | t : lang }}
              .col-sm-9
                input.input-sm.form-control(type="text" ng-model="meta.position.description"
                  placeholder="{{ '_pe_meta_description' | t : lang }}")
            .form-group.form-group-sm.row
              label.col-sm-3.control-label {{ '_pe_meta_altitude' | t : lang}}
              .col-sm-9
                .row
                  .col-sm-6
                    .input-group
                      input.input-sm.form-control(type="number" ng-model="meta.position.altitude"
                       min="0" max="10000" placeholder="{{ '_pe_meta_altitude' | t : lang}}" step="0.01")
                      span.input-group-addon m
                  .col-sm-6
                    button.col-sm-12.btn.btn-sm.btn-info(type="button"
                      ng-click="getPosition(locform);" ng-disabled="blockgeo")
                      span(ng-if="!blockgeo") {{ '_pe_meta_get_position' | t : lang }}
                      span(ng-hide="!blockgeo")
                        span.glyphicon.glyphicon-refresh.glyphicon-refresh-animate(ng-if="blockgeo")
                        span(ng-if="blockgeo") &nbsp; {{'Processing' | t: lang }} ...
            .form-group.form-group-sm.row
              label.col-sm-3.control-label {{ 'Lat / Lon' | t : lang}}
              .col-sm-9
                .row
                  .col-sm-6
                    .input-group
                      input.input-sm.form-control(type="number" ng-model="meta.position.latitude"
                        min="-90" max="90" placeholder="{{ '_pe_meta_latitude' | t : lang}}"
                        step="0.000000000000001")
                      span.input-group-addon °
                  .col-sm-6
                    .input-group
                      input.input-sm.form-control(type="number" ng-model="meta.position.longitude"
                        min="-180" max="180" placeholder="{{ '_pe_meta_longitude' | t : lang}}"
                        step="0.0000000000000001")
                      span.input-group-addon °
            .form-group.form-group-sm.row
              label.col-sm-3.control-label {{ 'UTM' | t : lang}}
              .col-sm-2
                input.input-sm.form-control(type="text" ng-model="meta.position.utm.zone"
                  placeholder="{{ 'Zone' | t : lang}}" disabled)
              .col-sm-3
              .col-sm-7
                .row
                  .col-sm-6(style="padding-left: 0;")
                    .input-group
                      input.input-sm.form-control(type="number" ng-model="meta.position.utm.east"
                        placeholder="{{ 'East' | t : lang}}"
                        step="0.000000000000001" disabled)
                      span.input-group-addon E
                  .col-sm-6(style="padding-left: 0;")
                    .input-group
                      input.input-sm.form-control(type="number" ng-model="meta.position.utm.north"
                        placeholder="{{ 'North' | t : lang}}"
                        step="0.0000000000000001" disabled)
                      span.input-group-addon N
            .form-group.form-group-sm.row(ng-if="imagesrc")
              .col-sm-3
                .btn-group-vertical.pull-right
                  button.btn.btn-sm.btn-default(type="button" ng-click="zoom(1);")
                    span.glyphicon.glyphicon-plus
                  button.btn.btn-sm.btn-default(type="button" ng-click="zoom(-1);")
                    span.glyphicon.glyphicon-minus
              .col-sm-9
                img(ng-src="{{imagesrc}}" style="width:100%; height: auto;")

            .form-group.form-group-sm.row
              label.col-sm-3.control-label
                | {{ '_pe_meta_aspect' | t : lang}}
                | /
                | {{ '_pe_meta_azimuth' | t : lang}}
              .col-sm-4
                ui-select(ng-model="meta.position.aspect" theme="bootstrap" reset-search-input="true")
                  ui-select-match(placeholder="{{ '_pe_meta_aspect' | t : lang}}"
                    allow-clear="true") {{ $select.selected }}
                  ui-select-choices(repeat="choice in niviz.Position.directions | filter: $select.search track by $index")
                    span(ng-bind="choice")
              .col-sm-4
                .input-group
                  input.input-sm.form-control(type="number" ng-model="meta.position.azimuth"
                    min="0" max="360" placeholder="{{ '_pe_meta_azimuth' | t : lang}}" step="0.01")
                  span.input-group-addon °
            .form-group.form-group-sm.row
              label.col-sm-3.control-label {{ '_pe_meta_slope_angle' | t : lang}}
              .col-sm-4
                .input-group
                  input.input-sm.form-control(type="number" ng-model="meta.position.angle"
                    min="0" max="89.999" placeholder="{{ '_pe_meta_slope_angle' | t : lang}}"
                    step="0.001")
                  span.input-group-addon °
            .row(ng-hide="true")
              button.btn.btn-primary(type="submit" id="submit" ng-click="savemeta(metaforms);"
                ng-disabled="metaforms.$invalid || metaforms.$pristine")

      .panel-default(uib-accordion-group is-open="status.open[1]")
        uib-accordion-heading(style="width: 100%;")
          .clickable(ng-click="togglePane($event, 1);")
            div(style="display:inline-block;")
              .panel-heading-title {{ '_pe_meta_date_observers' | t : lang}}
            span.label.label-danger(ng-show="profile && mform.$invalid")
              | {{ '_pe_error' | t : lang}}
            span.label.label-warning(ng-show="profile && !mform.$pristine")
              | {{ '_pe_changed' | t : lang}}
            i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': status.open[1], 'glyphicon-chevron-right': !status.open[1]}")
        .accordion-body
          form.form-horizontal(role="form" name="mform" ng-submit="savemeta(metaforms);")
            .form-group.form-group-sm.row
              label.col-sm-3.control-label {{ '_pe_meta_date' | t : lang }}
              .col-sm-5
                .input-group
                  input.form-control(type="text" uib-datepicker-popup="{{format}}"
                    ng-model="status.datepicked" is-open="picker.opened" readonly
                    datepicker-options="dateOptions" ng-required="true" close-text="Close")
                  span.input-group-btn
                    button.btn.btn-sm.btn-default(type="button" ng-click="open($event)")
                      i.glyphicon.glyphicon-calendar

              .col-sm-3
                div(uib-timepicker ng-model="status.timepicked" show-meridian="false" show-spinners="false")
            .form-group.form-group-sm.row
              label.col-sm-3.control-label {{ '_pe_meta_timezone' | t : lang }}
              .col-sm-5
                ui-select(ng-model="status.timezone" reset-search-input="true")
                  ui-select-match(placeholder="{{ '_pe_meta_timezone' | t : lang }}"
                    allow-clear="false") {{ $select.selected.hr }}
                  ui-select-choices(repeat="choice.min as choice in niviz.Common.timezones | filter: $select.search")
                    span(ng-bind="choice.hr")
            .form-group.form-group-sm.row
              label.col-sm-3.control-label {{ '_pe_meta_observer' | t : lang }}
              .col-sm-9
                input.form-control(type="text" ng-model="pm.observer"
                  placeholder="{{ '_pe_meta_observer' | t : lang }}")
            .form-group.form-group-sm.row
              label.col-sm-3.control-label {{ '_pe_meta_operation' | t : lang }}
              .col-sm-9
                input.form-control(type="text" name="operation" ng-model="pm.operation"
                  placeholder="{{ '_pe_meta_operation' | t : lang }}")
            .form-group.form-group-sm.row
              label.col-sm-3.control-label {{ '_pe_comment' | t : lang }}
              .col-sm-9
                textarea.form-control(ng-model="pm.comment.metadata"
                  placeholder="{{ '_pe_comment' | t : lang }}" rows="3")
            .row(ng-hide="true")
              button.btn.btn-primary(type="submit" id="submit" ng-click="savemeta(metaforms);"
                ng-disabled="metaforms.$invalid || metaforms.$pristine")

      .panel-default(uib-accordion-group is-open="status.open[2]")
        uib-accordion-heading(style="width: 100%;")
          .clickable(ng-click="togglePane($event, 2);")
            div(style="display:inline-block;")
              .panel-heading-title {{ '_pe_meta_weather_conditions' | t : lang }}
            span.label.label-danger(ng-show="profile && wform.$invalid")
              | {{ '_pe_error' | t : lang}}
            span.label.label-warning(ng-show="profile && !wform.$pristine")
              | {{ '_pe_changed' | t : lang}}
            i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': status.open[2], 'glyphicon-chevron-right': !status.open[2]}")
        .accordion-body
          form.form-horizontal(role="form" name="wform" ng-submit="savemeta(metaforms);")
            .form-group.form-group-sm.row
              label.col-sm-3.control-label {{ '_pe_meta_weather_ta' | t : lang}}
              .col-sm-4
                .input-group
                  input.form-control(type="number" ng-model="pm.ta" step="0.001"
                    min="-60" max="60" placeholder="{{ '_pe_meta_weather_ta' | t : lang}}")
                  span.input-group-addon °C
            .form-group.form-group-sm.row
              label.col-sm-3.control-label {{ '_pe_meta_weather_wind' | t : lang}}
              .col-sm-4
                .input-group
                  input.form-control(type="number" ng-model="status.windspeed"
                    ng-change="computeWindSpeed(status.windspeed)" step="0.001"
                    min="0" max="400" placeholder="{{ '_pe_meta_weather_wind' | t : lang}}")
                  span.input-group-addon km/h
              .col-sm-4
                ui-select(ng-model="pm.wind.estimation" theme="bootstrap"
                  reset-search-input="true" ng-change="computeWindSpeed(pm.wind.estimation)")
                  ui-select-match(placeholder="Wind estimate" allow-clear="true") {{ $select.selected.text }}
                  ui-select-choices(repeat="choice in niviz.Profile.windspeed | filter: $select.search track by $index")
                    span(ng-bind="choice.text")

            .form-group.form-group-sm.row
              label.col-sm-3.control-label {{ '_pe_meta_weather_winddir' | t : lang }}
              .col-sm-4
                ui-select(ng-model="pm.wind.dir" theme="bootstrap"
                  reset-search-input="true" ng-change="dir_to_angle();")
                  ui-select-match(placeholder="{{ '_pe_meta_weather_winddir' | t : lang }}"
                    allow-clear="true")
                    |{{ $select.selected }}
                  ui-select-choices(repeat="choice in niviz.Position.directions | filter: $select.search track by $index")
                    span(ng-bind="choice")
              .col-sm-4
                .input-group
                  input.input-sm.form-control(type="number" ng-model="pm.wind.angle"
                    ng-change="angle_to_dir();" min="0" max="360"
                    placeholder="{{ '_pe_meta_weather_windangle' | t : lang }}" step="0.01")
                  span.input-group-addon °

            .form-group.form-group-sm.row
              label.col-sm-3.control-label {{ '_pe_meta_weather_sky' | t : lang }}
              .col-sm-4
                ui-select(ng-model="pm.sky" theme="bootstrap" reset-search-input="true" title="")
                  ui-select-match(placeholder="{{ '_pe_meta_weather_sky' | t : lang }}" 
                    allow-clear="true") {{ $select.selected }}
                  ui-select-choices(repeat="choice in niviz.CAAML.skyconditions | filter: $select.search track by $index")
                    span(ng-bind="choice")
            .form-group.form-group-sm.row
              label.col-sm-3.control-label {{ '_pe_meta_weather_precipitation' | t : lang }}
              .col-sm-4
                ui-select(ng-model="pm.precipitation" theme="bootstrap" reset-search-input="true" title="")
                  ui-select-match(placeholder="Precipitation" allow-clear="true") {{ $select.selected }}
                  ui-select-choices(repeat="choice in niviz.CAAML.precipiType | filter: $select.search track by $index")
                    span(ng-bind="choice")
            .form-group.form-group-sm.row
              label.col-sm-3.control-label {{ '_pe_comment' | t : lang }}
              .col-sm-9
                textarea.form-control(ng-model="pm.comment.weather"
                  placeholder="{{ '_pe_comment' | t : lang }}" rows="3")
            .row(ng-hide="true")
              button.btn.btn-primary(type="submit" id="submit" ng-click="savemeta(metaforms);"
                ng-disabled="metaforms.$invalid || metaforms.$pristine")

      .panel-default(uib-accordion-group is-open="status.open[3]")
        uib-accordion-heading(style="width: 100%;")
          .clickable(ng-click="togglePane($event, 3);")
            div(style="display:inline-block;")
              .panel-heading-title {{ '_pe_meta_surface_conditions' | t : lang}}
            span.label.label-danger(ng-show="profile && surfform.$invalid")
              | {{ '_pe_error' | t : lang}}
            span.label.label-warning(ng-show="profile && !surfform.$pristine")
              | {{ '_pe_changed' | t : lang}}
            i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': status.open[3], 'glyphicon-chevron-right': !status.open[3]}")
        .accordion-body
          form.form-horizontal(role="form" name="surfform" ng-submit="savemeta(metaforms);")
            .form-group.form-group-sm.row
              label.col-sm-3.control-label {{ '_pe_meta_surface_roughness' | t : lang }}
              .col-sm-9
                ui-select(ng-model="pm.roughness")
                  ui-select-match(placeholder="{{ '_pe_meta_surface_roughness' | t : lang }}" allow-clear="true")
                    span(style="font-family: snowsymbolsiacs; width: auto;") {{ $select.selected.symbol }}
                    | &nbsp;&nbsp; {{ $select.selected.name }}
                  ui-select-choices(repeat="choice.id as choice in niviz.CAAML.roughness | filter: $select.search")
                    span(ng-bind="choice.symbol" style="font-family: snowsymbolsiacs;")
                    | &nbsp;&nbsp;&nbsp; {{ choice.name }}
            .form-group.form-group-sm.row(ng-if="!$parent.$parent.$parent.$parent.$parent.header")
              label.col-sm-3.control-label {{ '_pe_meta_surface_penetration' | t : lang}}
              .col-sm-3
                .input-group
                  input.form-control(type="number" ng-model="pm.penetration.ram"
                    min="0" max="5000" placeholder=" Ram" step="0.00001")
                  span.input-group-addon cm
              .col-sm-3
                .input-group
                  input.form-control(type="number" ng-model="pm.penetration.foot"
                    min="0" max="5000" placeholder="Foot" step="0.00001")
                  span.input-group-addon cm
              .col-sm-3
                .input-group
                  input.form-control(type="number" ng-model="pm.penetration.ski"
                    min="0" max="5000" placeholder="Ski" step="0.00001")
                  span.input-group-addon cm
            .form-group.form-group-sm.row
              label.col-sm-3.control-label {{ '_pe_comment' | t : lang }}
              .col-sm-9
                textarea.form-control(ng-model="pm.comment.surface"
                  placeholder="{{ '_pe_comment' | t : lang }}" rows="3")
            .row(ng-hide="true")
              button.btn.btn-primary(type="submit" id="submit" ng-click="savemeta(metaforms);"
                ng-disabled="metaforms.$invalid || metaforms.$pristine")

      .panel-default(uib-accordion-group is-open="status.open[4]")
        uib-accordion-heading(style="width: 100%;")
          .clickable(ng-click="togglePane($event, 4);")
            div(style="display:inline-block;")
              .panel-heading-title {{ '_pe_meta_snow_conditions' | t : lang }}
            span.label.label-danger(ng-show="profile && wform.$invalid")
              | {{ '_pe_error' | t : lang}}
            span.label.label-warning(ng-show="profile && !wform.$pristine")
              | {{ '_pe_changed' | t : lang}}
            i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': status.open[4], 'glyphicon-chevron-right': !status.open[4]}")
        .accordion-body
          form.form-horizontal(role="form" name="wform" ng-submit="savemeta(metaforms);")
            .form-group.form-group-sm.row
              label.col-sm-3.control-label {{ '_pe_meta_snow_hs' | t : lang }}
              .col-sm-4
                .input-group
                  input.form-control(type="number" ng-model="pm.hs"
                    min="0" max="5000" placeholder="{{ '_pe_meta_snow_hs_ph' | t : lang }}"
                    uib-tooltip="{{ '_pe_meta_snow_hs_tt' | t : lang }}"
                    tooltip-placement="bottom" step="0.00001")
                  span.input-group-addon cm
            .form-group.form-group-sm.row
              label.col-sm-3.control-label {{ '_pe_meta_snow_hn24' | t : lang }}
              .col-sm-4
                .input-group
                  input.form-control(type="number" ng-model="pm.hn24"
                    min="0" max="5000" placeholder="{{ '_pe_meta_snow_hn24_ph' | t : lang }}"
                    uib-tooltip="{{ '_pe_meta_snow_hn24_tt' | t : lang }}"
                    tooltip-placement="bottom" step="0.00001")
                  span.input-group-addon cm
            .form-group.form-group-sm.row
              label.col-sm-3.control-label {{ '_pe_comment' | t : lang }}
              .col-sm-9
                textarea.form-control(ng-model="pm.comment.snowpack"
                  placeholder="{{ '_pe_comment' | t : lang }}" rows="3")
            .row(ng-hide="true")
              button.btn.btn-primary(type="submit" id="submit" ng-click="savemeta(metaforms);"
                ng-disabled="metaforms.$invalid || metaforms.$pristine")

      .panel-default(uib-accordion-group is-open="status.open[5]")
        uib-accordion-heading(style="width: 100%;")
          .clickable(ng-click="togglePane($event, 5);")
            div(style="display:inline-block;")
              .panel-heading-title {{ '_pe_meta_ids' | t : lang}}
            span.label.label-danger(ng-show="profile && idform.$invalid")
              | {{ '_pe_error' | t : lang}}
            span.label.label-warning(ng-show="profile && !idform.$pristine")
              | {{ '_pe_changed' | t : lang}}
            i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': status.open[5], 'glyphicon-chevron-right': !status.open[5]}")
        .accordion-body
          form.form-horizontal(role="form" name="idform" ng-submit="savemeta(metaforms);")
            .form-group.form-group-sm.row
              label.col-sm-3.control-label {{ '_pe_meta_id_profile' | t : lang}}
              .col-sm-9
                input.form-control(type="text" ng-model="pm.profile_gmlid" ng-minlength="2"
                  uib-tooltip="{{ '_pe_meta_id_profile_tt' | t : lang }}" tooltip-placement="bottom"
                  placeholder="{{ '_pe_meta_id_profile' | t : lang}}" required)
            .form-group.form-group-sm.row
              label.col-sm-3.control-label {{ '_pe_meta_id_station' | t : lang}}
              .col-sm-9
                input.form-control(type="text" ng-model="meta.id" ng-minlength="2"
                  uib-tooltip="{{ '_pe_meta_id_station_tt' | t : lang }}" tooltip-placement="bottom"
                  placeholder="{{ '_pe_meta_id_station' | t : lang}}" required)
            .form-group.form-group-sm.row
              label.col-sm-3.control-label {{ '_pe_meta_id_observer' | t : lang}}
              .col-sm-9
                input.form-control(type="text" ng-model="pm.observer_gmlid" ng-minlength="2"
                  uib-tooltip="{{ '_pe_meta_id_observer_tt' | t : lang }}" tooltip-placement="bottom"
                  placeholder="{{ '_pe_meta_id_observer' | t : lang}}" required)
            .form-group.form-group-sm.row
              label.col-sm-3.control-label {{ '_pe_meta_id_operation' | t : lang}}
              .col-sm-9
                input.form-control(type="text" ng-model="pm.operation_gmlid" ng-minlength="2"
                  uib-tooltip="{{ '_pe_meta_id_operation_tt' | t : lang }}" tooltip-placement="bottom"
                  placeholder="{{ '_pe_meta_id_operation' | t : lang}}" required)
            .row(ng-hide="true")
              button.btn.btn-primary(type="submit" id="submit" ng-click="savemeta(metaforms);"
                ng-disabled="metaforms.$invalid || metaforms.$pristine")

script(type="text/ng-template" id="edit-metadata.html")
  .metadata-pane(ng-form="metaforms" ng-submit="savemeta(); metaforms.$setPristine();")
    .panel.panel-default.panel-btn-bar
      .panel-body
        .btn-toolbar.pull-right(ng-init="isCollapsed = true")
          button.btn.btn-sm.btn-default(type="button" ng-click="clonemeta(); metaforms.$setPristine();"
            ng-disabled="metaforms.$pristine")
            | {{ '_pe_meta_undo_changes' | t : lang }}
          button.btn.btn-sm.btn-primary(type="submit" ng-click="savemeta(metaforms);"
            ng-disabled="metaforms.$invalid || metaforms.$pristine")
            | {{ '_pe_meta_save' | t : lang }}

    +metadata-accordion
        br
