script(type="text/ng-template" id="main.html")
  div(console)
  div(ng-if="!timelines.length && !profiles.length && !meteos.length")
    include intro
  main.container-fluid
    div(visualizer ng-repeat="timeline in timelines")
    div(pvisualizer ng-repeat="profile in profiles")
    div.fenestra.transformable(meteographer ng-repeat="meteo in meteos" meteo="meteo" lang="lang"
                 on-close="destroy('meteos', $index)")
