nav.navbar.navbar-default.navbar-static-top(ng-controller="MenuController" role="navigation" spinner="parsing")
  .container-fluid(ng-cloak)
    .navbar-header
      button.navbar-toggle(ng-click="collapsed = !collapsed")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      span.navbar-brand: a(target="_blank" href='https://niviz.org') niViz

    .collapse.navbar-collapse(collapse="collapsed")
      ul.nav.navbar-nav

        li(uib-dropdown)
          a(href uib-dropdown-toggle ui-sref="main")
            | {{ 'File' | t : lang}}&nbsp;
            span.caret
          ul.dropdown-menu(role="menu" uib-dropdown-menu)
            li
              a(href ng-click="create()") {{ '_newprofile' | t : lang}}
            li.divider
            li
              a(href ng-click="open()") {{ 'Open profile' | t : lang}}
            li
              a(href ng-click="open()") {{ 'Open timeline' | t : lang}}
            li
              a(href ng-click="open()") {{ 'Open timeseries' | t : lang}}
            li.divider
            li
              a(href ng-click="openLocalStorage()") {{ '_localStorage' | t : lang}}
        li(uib-dropdown ng-if="timelines.length || meteos.length > 1")
          a(href uib-dropdown-toggle)
            | {{ 'View' | t : lang}}&nbsp;
            span.caret
          ul.dropdown-menu(role="menu" uib-dropdown-menu ng-disabled="true")
            li(ng-if="!synchronized || (timelines.length + meteos.length) === 1")
              a(href ng-click="synchronize()" ng-class="{'disabled-anchor': (timelines.length + meteos.length) === 1}")
                | {{ 'Synchronize' | t : lang}}
            li(ng-if="synchronized && (timelines.length + meteos.length) > 1")
              a(href ng-click="desynchronize()")
                | {{ 'Desynchronize' | t : lang}}
            //- li.divider
            //- li
            //-  a(href ng-click="rearrange()") {{ 'Rearrange' | t : lang}}
        li
          a(href ng-click="settings()") {{ 'Settings' | t : lang}}
        li(uib-dropdown)
          a(href uib-dropdown-toggle ui-sref="main")
            | {{ 'Help' | t : lang}}&nbsp;
            span.caret
          ul.dropdown-menu(role="menu" uib-dropdown-menu)
            li
              a(ui-sref="help.contents") {{ 'Help' | t : lang}}
            li
              a(target="_blank" href='https://niviz.org') {{ 'Homepage' | t : lang}}
            li
              a(target="_blank" href='http://models.slf.ch/p/niviz/issues') {{ 'Report issues' | t : lang}}
