script(type="text/ng-template" id="meteographer.html")
  .header(ng-controller="MeteoGrapherController")
    a.close(type="button", aria-hidden="true", ng-click="close()") &times;
    ul.nav.navbar-nav.pull-right
      li(uib-dropdown)
        a(href="#", uib-dropdown-toggle, data-toggle="dropdown", role="button", aria-expanded="false") &#9776;
        ul.dropdown-menu.dropdown-menu-right(role="menu" uib-dropdown-menu)
          li
            a(href ng-click="setPriority('settings')")
              |{{ 'Use user settings' | t : lang}}&nbsp;
              span(ng-if="use_settings" style="color:green;font-weight:bold;") ✓
          li
            a(href ng-click="setPriority('plot')")
              |{{ 'Use plot settings' | t : lang}}&nbsp;&nbsp;
              span(ng-if="!use_settings" style="color:green;font-weight:bold;") ✓
          li.divider
          li
            a(href ng-click="toggleAutoscale()")
              span(ng-if="!autoscale") {{ 'autoscale_on' | t : lang}}
              span(ng-if="autoscale") {{ 'autoscale_off' | t : lang}}
          li.divider
          li
            a(href ng-click="print()") {{ 'Print' | t : lang}}
          li.divider
          li
            a(href ng-click="save('CSV')") {{ 'export_csv' | t : lang }}
          li
            a(href ng-click="save('SVG')") {{ 'export_svg' | t : lang }}
          li
            a(href ng-click="save('PNG')") {{ 'export_png' | t : lang }}
          li
            a(href ng-click="save('JSON')") {{ 'export_json' | t : lang }}
    h1 Time series - {{meteo.filename}}
    div.dropdownSelect(style="position: relative;")
      div(ng-dropdown-multiselect="" options="parameters" style="position: absolute; z-index: 1; right: 0;"
        selected-model="selected" extra-settings="dropdownSettings"
        translation-texts="example5customTexts" events="dropdownEvents")
  svg.body(id="canvas" style="width: 860px; height: 100%; overflow: hidden; position: relative;" spinner="processing")
