script(type="text/ng-template" id="template/modal/backdrop.html")
  .modal-backdrop(modal-animation-class="fade" modal-in-class="in" ng-style="{'z-index': 1040 + (index && 1 || 0) + index*10}")

script(type="text/ng-template" id="template/modal/window.html")
  .modal(modal-render="{{$isRendered}}" tabindex="-1" role="dialog" modal-animation-class="fade" modal-in-class="in" ng-style="{'z-index': 1050 + index*10, display: 'block'}" ng-click="close($event)")
    .modal-dialog(ng-class="size ? 'modal-' + size : ''")
      .modal-content(modal-transclude)
