script(type="text/ng-template" id="modal-local-files.html")
  .modal-header
    h3.modal-title {{ '_your_storage' | t : lang }}

  .modal-body.modal-extract
    table.table
      thead
        th.col-xs-1 #
        th.col-xs-4 ID
        th.col-xs-4 {{ '_last_edited' | t : lang }}
        th.col-xs-1 {{ 'Open' | t : lang }}
        th.col-xs-1 {{ 'Delete' | t : lang }}
      tbody
        tr(ng-repeat="key in keys")
          td.col.xs-1 {{$index + 1}}
          td.col.xs-4 {{files[key].id}}
          td.col.xs-4 {{dates[key].format('YYYY-MM-DD HH:mm:ss')}}
          td.col.xs-1(style="text-align: center;")
            button.btn.btn-xs.btn-info(type="button" ng-click="open(key)")
              span.glyphicon.glyphicon-open-file
          td.col.xs-1(style="text-align: center;")
            button.btn.btn-xs.btn-warning(type="button" ng-click="rm(key)")
              span.glyphicon.glyphicon-trash

  .modal-footer.settings
    button.btn.btn-default(type="button" ng-click="cancel()") {{ 'Cancel' | t : lang }}
    button.btn.btn-warning(type="button" ng-click="rmAll()") {{ '_delete_all' | t : lang }}