script(type="text/ng-template" id="pvisualizer.html")
  .pvisualizer(style="height: 100%;")
    .fenestra.prof(profiler profile="profile"
      on-close="destroy('profiles', $index)" lang="lang")
    .fenestra.profile-editor(profile-editor profile="profile" ng-if="editor"
      on-close="destroy('profiles', $index)" lang="lang")
