script(type="text/ng-template" id="settings.html")
  .modal-header
    h3.modal-title {{ 'Settings' | t : lang }}

  form.form-horizontal(name="modalForm")
    .modal-body
      uib-tabset
        uib-tab(ng-repeat="config in modules" heading="{{config.displayName || config.name}}"
          deselect="tabdeselect(config.name)")
          form(name="{{config.id}}")
            div(ng-repeat="setting in config.settings.order" setting="setting" config="config")

    .modal-footer.settings
      .btn-group
        button.btn.btn-default(type="button" ng-click="import()") {{ 'Import' | t : lang }}
        button.btn.btn-default(type="button" ng-click="export()") {{ 'Export' | t : lang }}
        button.btn.btn-default(type="button" ng-click="reset()") {{ 'reset_settings' | t : lang }}

      button.btn.btn-default(type="button" ng-click="cancel()") {{ 'Cancel' | t : lang }}
      button.btn.btn-primary(type="button" ng-click="save()" ng-disabled="modalForm.$invalid" ) {{ 'Save' | t : lang }}

script(type="text/ng-template" id="setting.html")
  setting-input(ng-if="element === 'input'")
  setting-checkbox(ng-if="element === 'checkbox'")
  setting-select(ng-if="element === 'select'")
  setting-select2(ng-if="element === 'select2'")
  setting-colorpicker(ng-if="element === 'colorpicker'")
  setting-meteo(ng-if="element === 'meteo'")
  setting-meteogroup(ng-if="element === 'meteogroup'")
  setting-pro(ng-if="element === 'pro'")
  setting-barparams(ng-if="element === 'barparams'")
  setting-timelineparams(ng-if="element === 'timelineparams'")

script(type="text/ng-template" id="setting-input.html")
  .form-group.form-group-sm
    label.control-label.col-sm-3(for="{{id}}") {{ setting.name | t : lang}}
    .col-sm-9
      input.form-control(id="{{id}}" type="{{type}}"
        ng-model="value" ng-change="setting.set(value)" ng-required="setting.required")

      .help-block(ng-if="setting.hint") {{ setting.hint | t : lang }}

script(type="text/ng-template" id="setting-checkbox.html")
  .form-group.form-group-sm
    .col-sm-3
    .checkbox.col-sm-9
      label.checkbox-lbl
        input(id="{{id}}" type="checkbox" ng-model="value"
          ng-change="setting.set(value)" placeholder="{{setting.default}}")
        .checkbox-lbl-text {{ setting.name | t : lang }}

      .help-block(ng-if="setting.hint") {{ setting.hint | t : lang }}

script(type="text/ng-template" id="setting-select.html")
  .form-group.form-group-sm
    label.control-label.col-sm-3(for="{{id}}") {{ setting.name | t : lang }}
    .col-sm-9
      select.form-control(id="{{id}}" ng-model="value" ng-change="setting.set(value)"
        ng-options="option | t for option in setting.values")

      .help-block(ng-if="setting.hint") {{ setting.hint | t : lang }}

script(type="text/ng-template" id="setting-select2.html")
  .form-group.form-group-sm
    label.control-label.col-sm-3(for="{{id}}") {{ setting.name | t : lang }}
    .col-sm-9
      ui-select.form-control(ng-model="value" multiple
        on-select="setting.set(value)" on-remove="setting.set(value)")
        ui-select-match {{$item.name}}
        ui-select-choices(repeat="item in (setting.values | filter: $select.search) track by item.id")
          span(ng-bind="item.display || item.name")

      .help-block(ng-if="setting.hint") {{ setting.hint | t : lang}}

script(type="text/ng-template" id="setting-colorpicker.html")
  .form-group.form-group-sm
    label.control-label.col-sm-3(for="{{id}}") {{ setting.name | t : lang }}
    .col-sm-9
      .input-group
        input.form-control(id="{{id}}" type="{{type}}" ng-model="value"
          ng-change="setting.set(value)" placeholder="{{setting.default}}"
          ng-required="setting.required")

        span.input-group-addon.colorpicker()
          span(colorpicker colorpicker-parent="true" colorpicker-close-on-select
            colorpicker-position="left" ng-model="value" ng-change="setting.set(value)"
            ng-style="{ backgroundColor: value }") &nbsp;

      .help-block(ng-if="setting.hint") {{ setting.hint | t : lang }}

script(type="text/ng-template" id="setting-meteo.html")
  .form-group.form-group-sm.params
    .col-sm-12
      label.control-label {{ 'conf_meteo_settings' | t : lang }}
    .col-sm-12
      label.control-label &nbsp;
    .row(ng-repeat="param in value")
      .col-sm-10
        .input-group
          input.form-control(id="{{id}}" type="text" ng-model="param.name"
            ng-change="setting.set(value)" placeholder="Param" required ng-trim="true")
          input.name.form-control(id="{{id}}" type="text" ng-model="param.display"
            ng-change="setting.set(value)" placeholder="Display name" required ng-trim="true")
          input.form-control(id="{{id}}" type="text" ng-model="param.unit"
            ng-change="setting.set(value)" placeholder="UNIT")
          input.form-control(id="{{id}}" type="text" ng-model="param.min"
            ng-change="setting.set(value)" placeholder="MIN")
          input.form-control(id="{{id}}" type="text" ng-model="param.max"
            ng-change="setting.set(value)" placeholder="MAX")

          span.input-group-addon.colorpicker()
            span(colorpicker colorpicker-parent="true" colorpicker-close-on-select
              colorpicker-position="top" ng-model="param.color" ng-change="setting.set(value)"
              ng-style="{ backgroundColor: param.color }") &nbsp;

          select.form-control(id="{{id}}" ng-model="param.convert"
            ng-change="setting.set(value)" data-placement="bottom" title="Conversion function"
            ng-options="option for option in setting.values")

      .col-sm-2
        button.btn.btn-default(type="button"
          ng-class="{'active': param.log, 'btn-success': param.log, 'btn-default': !param.log}"
          data-toggle="button" aria-pressed="{{param.log}}"
          ng-click="param.log = !param.log; setting.set(value)"
          data-placement="bottom" title="{{ 'log_on_off' | t : lang }}")
          span log
        button.btn.btn-default(type="button" ng-click="value.splice($index, 1)"
	  data-placement="bottom" title="{{ 'rm_parameter_config' | t : lang }}")
          span.glyphicon.glyphicon-trash

    .col-sm-12
      button.add.btn.btn-default(type="button" data-placement="right" title="Add another parameter"
        ng-click="add(value);")
        span.glyphicon.glyphicon-plus

script(type="text/ng-template" id="setting-meteogroup.html")
  .form-group.form-group-sm.params
    .col-sm-12
      label.control-label {{ 'meteo_groups' | t : lang }}
    .col-sm-12
      label.control-label &nbsp;
    .row(ng-repeat="param in value")
      .col-sm-10
        .input-group
          input.form-control(id="{{id}}" type="text" ng-model="param.name"
            ng-change="setting.set(value)" placeholder="Group" required ng-trim="true")
          input.name.form-control(id="{{id}}" type="text" ng-model="param.display"
            ng-change="setting.set(value)" placeholder="Display name" required ng-trim="true")
          input.form-control(id="{{id}}" type="text" ng-model="param.unit"
            ng-change="setting.set(value)" placeholder="UNIT" required ng-trim="true")
          input.form-control(id="{{id}}" type="text" ng-model="param.min"
            ng-change="setting.set(value)" placeholder="MIN" required ng-trim="true")
          input.form-control(id="{{id}}" type="text" ng-model="param.max"
            ng-change="setting.set(value)" placeholder="MAX" required ng-trim="true")
          input.group.form-control(id="{{id}}" type="text" ng-model="param.group"
            ng-change="setting.set(value)" placeholder="CSV e.g. ts,tss" required ng-trim="true")

      .col-sm-2
        button.btn.btn-default(type="button"
          ng-class="{'active': param.log, 'btn-success': param.log, 'btn-default': !param.log}"
          data-toggle="button" aria-pressed="{{param.log}}"
          ng-click="param.log = !param.log; setting.set(value)"
          data-placement="bottom" title="{{ 'log_on_off' | t : lang }}")
          span log
        button.btn.btn-default(type="button" ng-click="value.splice($index, 1)"
	  data-placement="bottom" title="{{ 'rm_parameter_config' | t : lang }}")
          span.glyphicon.glyphicon-trash

    .col-sm-12
      button.add.btn.btn-default(type="button" data-placement="right" title="{{ 'add_another_parameter' | t : lang }}"
        ng-click="add(value);")
        span.glyphicon.glyphicon-plus

script(type="text/ng-template" id="setting-pro.html")
  .form-group.form-group-sm.pro
    .col-sm-12
      label.control-label {{ 'conf_pro' | t : lang }}
    .col-sm-5
      select.form-control(id="version" ng-model="version")
        option(ng-repeat="option in value" value="{{$index}}") {{option.name}}
    .row(ng-repeat="param in value[version].codes")
      .col-sm-8
        .input-group
          input.key.form-control(id="{{id}}" type="text" ng-model="param.code"
            required ng-trim="true" ng-change="setting.set(value)"
            placeholder="{{ 'pro_code' | t : lang }}" ng-readonly="!param.editable")
          input.name.form-control(id="{{id}}" type="text" ng-model="param.name"
            required ng-trim="true" ng-change="setting.set(value)"
            placeholder="{{ 'pro_name' | t : lang }}" ng-readonly="!param.editable")
          input.display.form-control(id="{{id}}" type="text" ng-model="param.display"
            ng-trim="true" ng-change="setting.set(value)"
            placeholder="{{ 'pro_display_name' | t : lang }}" ng-readonly="!param.editable")
          input.unit.form-control(id="{{id}}" type="text" ng-model="param.unit"
            ng-trim="true" ng-change="setting.set(value)"
            placeholder="{{ 'pro_unit' | t : lang }}" ng-readonly="!param.editable")

      .col-sm-1
        button.btn.btn-default(type="button" ng-click="remove($index, value[version].codes)"
	  data-placement="bottom" title="{{ 'rm_parameter_config' | t : lang }}"
          ng-show="param.editable")
          span.glyphicon.glyphicon-trash

    .col-sm-12
      button.add.btn.btn-default(type="button" data-placement="right"
        title="{{ 'add_another_parameter' | t : lang }}"
        ng-click="add(value[version].codes);")
        span.glyphicon.glyphicon-plus

script(type="text/ng-template" id="setting-barparams.html")
  //- (ng-if="$parent.config.settings.names.show_additional_parameters.value")
  .form-group.form-group-sm.barparams
    .col-sm-12
      label.control-label {{ 'conf_additional' | t : lang }}
    .row(ng-repeat="param in value")
      .col-sm-10
        .input-group
          select.name.form-control(id="{{id}}" ng-model="param.name" ng-focus="update();"
            ng-change="setting.set(value)" data-placement="bottom" title="Parameter name"
            ng-options="option for option in types" required)

          input.form-control(id="{{id}}" type="number" ng-model="param.left"
            ng-change="setting.set(value)" placeholder="left" required ng-trim="true")
          input.form-control(id="{{id}}" type="number" ng-model="param.right"
            ng-change="setting.set(value)" placeholder="right" required ng-trim="true")

          input.color.form-control(id="{{id}}" type="{{type}}" ng-model="param.color"
            ng-change="setting.set(value)" placeholder="#000000" required ng-trim="true")
          span.input-group-addon.colorpicker()
            span(colorpicker colorpicker-parent="true" colorpicker-close-on-select
              colorpicker-position="top" ng-model="param.color" ng-change="setting.set(value)"
              ng-style="{ backgroundColor: param.color }") &nbsp;

          select.form-control(id="{{id}}" ng-model="param.style"
            ng-change="setting.set(value)" data-placement="bottom"
            title="{{ 'display_style' | t : lang }}"
            ng-options="option for option in setting.values")

      .col-sm-2.pull-right
        button.btn.btn-default(type="button"
          ng-class="{'active': param.log, 'btn-success': param.log, 'btn-default': !param.log}"
          data-toggle="button" aria-pressed="{{param.log}}"
          ng-click="param.log = !param.log; setting.set(value)"
          data-placement="bottom" title="Logarithmic display On/Off")
          span log
        button.btn.btn-default(type="button" ng-click="value.splice($index, 1)"
	  data-placement="bottom" title="{{ 'rm_parameter_config' | t : lang }}")
          span.glyphicon.glyphicon-trash

    .col-sm-12
      button.add.btn.btn-default(type="button" data-placement="right" title="{{ 'add_another_parameter' | t : lang }}"
        ng-click="add(value);")
        span.glyphicon.glyphicon-plus

script(type="text/ng-template" id="setting-timelineparams.html")
  .form-group.form-group-sm.timelineparams
    .col-sm-12
      label.control-label {{ 'add_rm_timeline_parameters' | t : lang }}
    .col-sm-12
      label.smaller.parameter {{ 'tl_params_param' | t : lang }}
      label.smaller.min {{ 'tl_params_min' | t : lang }}
      label.smaller.min {{ 'tl_params_max' | t : lang }}
      label.smaller.min {{ 'tl_params_steps' | t : lang }}
      label.smaller.gradient {{ 'tl_params_gradient' | t : lang }}
    .row(ng-repeat="param in value" ng-if="!param.hide")
      .col-sm-10
        .input-group
          select.name.form-control(id="{{id}}" ng-model="param.name" ng-focus="update();"
            ng-change="setting.set(value)" data-placement="bottom"
            title="{{ 'tl_param_name' | t : lang }}"
            ng-options="option for option in types"
            ng-disabled="!param.editable" required)

          input.form-control(id="{{id}}" type="number" ng-model="param.min"
            ng-change="setting.set(value)" placeholder="min" required ng-trim="true")
          input.form-control(id="{{id}}" type="number" ng-model="param.max"
            ng-change="setting.set(value)" placeholder="max" required ng-trim="true")
          input.form-control(id="{{id}}" type="number" ng-model="param.steps" min="2" max="20"
            ng-change="setting.set(value)" placeholder="steps" required ng-trim="true")

          select.form-control(id="{{id}}" ng-model="param.palette"
            ng-change="setting.set(value)" data-placement="bottom" title="Gradient Style"
            ng-options="option for option in setting.values" ng-disabled="!param.editable")

      .col-sm-2.pull-right(ng-if="param.editable")
        button.btn.btn-default(type="button" ng-click="value.splice($index, 1)"
	  data-placement="bottom" title="{{ 'rm_parameter_config' | t : lang }}")
          span.glyphicon.glyphicon-trash

    .col-sm-12
      button.add.btn.btn-default(type="button" data-placement="right"
        title="{{ 'add_another_parameter' | t : lang }}"
        ng-click="add(value);")
        span.glyphicon.glyphicon-plus
