script(type="text/ng-template" id="template/tabs/tab.html")
  li(ng-class="{active: active, disabled: disabled}")
    a(href ng-click="select()" tab-heading-transclude) {{heading}}

script(type="text/ng-template" id="template/tabs/tabset.html")
  div
    ul(class="nav nav-{{type || 'tabs'}}" ng-class="{'nav-stacked': vertical, 'nav-justified': justified}" ng-transclude)
    .tab-content
      .tab-pane(ng-repeat="tab in tabs" ng-class="{active: tab.active}" tab-content-transclude="tab")
