script(type="text/ng-template" id="timeline-modal-extract.html")
  .modal-header
    h3.modal-title {{ 'extract_time_series' | t : lang }}

  form.form-horizontal(name="modalForm")
    .modal-body.modal-extract
      .form-group.form-group-sm
        .col-sm-3
          select.form-control(id="param" ng-model="data.parameter" required
            ng-options="option.name for option in parameters")
        label.col-sm-1 @
        .col-sm-2
          input.form-control(id="height" type="number" ng-model="data.height" placeholder="cm" required)
        label.col-sm-1 cm
        .col-sm-2
          select.form-control(id="isdepth" ng-model="data.isdepth" required)
            option(value="0") {{ 'Height' | t : lang }}
            option(value="1") {{ 'Depth' | t : lang }}
        .col-sm-2
          select.form-control(id="isdepth" ng-model="data.functor" required)
            option(value="VALUE") VALUE
            //- option(value="MEAN") MEAN

    .modal-footer.settings
      button.btn.btn-default(type="button" ng-click="cancel()") {{ 'Cancel' | t : lang }}
      button.btn.btn-primary(type="button" ng-click="save()" ng-disabled="modalForm.$invalid" ) {{ 'extract_time_series' | t : lang }}
