script(type="text/ng-template" id="timeline-modal-height.html")
  .modal-header
    h3.modal-title Timeline {{ 'snow_height' | t : lang }}

  form.form-horizontal(name="modalForm")
    .modal-body
      .form-group.form-group-sm
        label.control-label.col-sm-2(for="min") Min (cm)
        .col-sm-3
          input.form-control(id="min" type="number" ng-model="minvalue" placeholder="AUTO")
        label.control-label.col-sm-2(for="min") Max (cm)
        .col-sm-3
          input.form-control(id="max" type="number" ng-model="maxvalue" placeholder="AUTO")

    .modal-footer.settings
      button.btn.btn-default(type="button" ng-click="cancel()") {{ 'Cancel' | t : lang }}
      button.btn.btn-primary(type="button" ng-click="save()" ng-disabled="modalForm.$invalid" ) {{ 'Apply' | t : lang }}
