script(type="text/ng-template" id="timeliner.html")
  .header
    a.close(type="button", aria-hidden="true", ng-click="close()") &times;
    ul.nav.navbar-nav.pull-right
      li(uib-dropdown)
        a(href="#", uib-dropdown-toggle, data-toggle="dropdown", role="button", aria-expanded="false") &#9776;
        ul.dropdown-menu.dropdown-menu-right(role="menu" uib-dropdown-menu)
          li(ng-repeat="parameter in parameters")
            a(href ng-click="properties(parameter.lookup)") {{parameter.name}}
          li.divider
          li(ng-if="togglesoil")
            a(href ng-click="showsoil(false);" ng-show="soil") {{ 'hide_soil_layers' | t : lang}}
            a(href ng-click="showsoil(true);" ng-show="!soil") {{ 'show_soil_layers' | t : lang}}
          li.divider(ng-if="togglesoil")
          li
            a(href ng-click="$parent.maximize('timeline');" ng-show="!$parent.tmax")
              | {{ 'Maximize' | t : lang}}
            a(href ng-click="$parent.overlap();" ng-show="$parent.tmax") {{ 'overlap_profile' | t : lang }}
          li.divider
          li
            a(href ng-click="opentimeseries()" ng-class="{hidelink: timeline.meteo}")
              | {{ 'add_time_series' | t : lang }}&hellip;
          li
            a(href ng-click="extract()") {{ 'extract_time_series' | t : lang}}&hellip;
          li
            a(href ng-click="snow_height_settings()") {{ 'snow_height' | t : lang}}&hellip;
          li.divider
          li
            a(href ng-click="print()") {{ 'Print' | t : lang}}
          li.divider
          li
            a(href ng-click="save('SVG')") {{ 'export_svg' | t : lang }}
          li
            a(href ng-click="save('PNG')") {{ 'export_png' | t : lang }}
          li
            a(href ng-click="save('JSON')") {{ 'export_json' | t : lang }}
    h1 Timeline View - {{station.filename}}
  svg.body(id="canvas" style="width: 100%; margin: 5px;"  spinner="processing")
