script(type="text/ng-template" id="visualizer.html")
  .visualizer(style="height: 100%;")
    .left-container(style="width: {{twidth + 'px'}}" ng-if="!pmax")
      .fenestra(timeliner timeline="timeline" on-close="destroy('timelines', $index)"
                width="twidth" hscale="hscale" ng-hide="pmax" lang="lang")
      .fenestra(meteographer meteo="timeline.meteo" ng-if="timeline.meteo" width="twidth"
                cart="true" on-close="deregister(timeline)" lang="lang" hscale="hscale")
      .fenestra(meteographer meteo="extracted.meteo" ng-if="extracted.meteo" width="twidth"
                on-close="$parent.$parent.extracted.meteo = null;$parent.$parent.overlap();"
                lang="lang" hscale="hscale" cart="true")
    .right-container(ng-if="!tmax")
      .fenestra(profiler profile="timeline" miniature="miniature"
                width="pwidth" height="" ng-hide="tmax" lang="lang")
    
