body.modal-open { position: fixed; }

.modal-creator {
  @media only screen and (max-width: 480px) {
    .touch .modal .modal-body {
      max-height: none;
      -webkit-overflow-scrolling: touch;
    }
  }
}

$bg-stability: rgba(241,203,255, 0.9);
$bg-ssa: rgba(255,223,186, 0.9);

.metadata-pane {
  .panel-group .panel + .panel {
    margin-top: 0;
  }

  label {
    //font-family: DIN-Bold;
  }

  .form-group {
    margin-bottom: 10px;
  }

  .panel {
    border-radius: 0;
    margin-bottom: 0;
    //border: 0;
    border-image-with: 1;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-color: rgb(253, 253, 253);
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);
    box-shadow: inset 0px 1px 0px 0px rgba(255,255,255, .1), 0px 1px 0px 0px rgba(0,0,0, .1);

    &.panel-btn-bar {
      .panel-body {
        background-image: -webkit-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(245, 245, 245) 100%);

      }
      border: 0;
    }

    .panel-heading {
      padding: 0;

      .clickable {
        padding: 8px;
      }

      .panel-heading-title {
        font-family: DIN-Bold;
        //padding: 8px;
        //text-shadow: 5px 5px 0px ;
        //text-shadow: 1px 1px 0px white;
      }

      //
      color: slategray;
      background-image: -webkit-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(245, 245, 245) 100%);
    }
  }
  a {
    text-decoration: none;
  }

  .label {
    &.label-danger, &.label-warning {
      margin-left: 12px;
    }
  }
}


.meta-section {
  .glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
  }

  @-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
  }

  @keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
  }
}

edit-stratprofile {
  .ui-select-bootstrap > .ui-select-choices, .ui-select-bootstrap > .ui-select-no-choice {
    &.gs-choice {
      max-height: 250px;
    }

    &.wet-choices {
      max-height: 250px;
    }
  }
}

.editor-modal {
  .clickable {
    &.btn {
      width: 100%;
      white-space: normal;
      margin-bottom: 15px;
    }

    &.btn-stability {
      background-color: $bg-stability;
      border-color: darken(adjust-hue($bg-stability, -5), 5%);
    }

    &.btn-ssa {
      background-color: $bg-ssa;
      border-color: darken(adjust-hue($bg-ssa, -5), 5%);
    }

    &:hover {
      cursor: pointer;

      &.btn-stability {
        background-color: darken($bg-stability, 10%);
        border-color: darken(adjust-hue($bg-stability, -15), 15%);
      }

      &.btn-ssa {
        background-color: darken($bg-ssa, 10%);
        border-color: darken(adjust-hue($bg-ssa, -15), 15%);
      }
    }

    &:active {
      &.btn-stability {
        background-color: darken($bg-stability, 15%);
        border-color: darken(adjust-hue($bg-stability, -20), 20%);
      }

      &.btn-ssa {
        background-color: darken($bg-ssa, 15%);
        border-color: darken(adjust-hue($bg-ssa, -20), 20%);
      }
    }
  }

  .profile-icon {
    font-size: 32px;

    @media (max-width: 500px) {
      font-size: 24px;
    }
  }

  .profile-chevron {
    font-size: 18px;

    @media (max-width: 500px) {
      font-size: 14px;
    }
  }

  .profile-name {
    font-size: 24px;

    @media (max-width: 500px) {
      font-size: 18px;
    }
  }

  .profile-row {
    display: flex;
    align-items: center;
  }

  .container {
    max-width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
  }

}

.multiprofile {
  $bradius: 8px;
  $bcolor: gainsboro;

  .profile-header {
    .profile-title {
      color: slategray;
      line-height: 30px;
      font-family: DIN-Bold;
      font-size: 14px;
    }
  }

  .table-smp-non-interactive {
    width: auto;

    td {
      padding: 5px;
    }
  }

  .accordion-label {
    position: relative;
    padding-left: 3px;
    color: #337ab7;
    font-family: DIN-Bold;
    font-size: 14px;
    display: inline-block;
  }

  position: relative;

  .details-to {
    color: slategray;
    border: 0px solid red;
    font-size: 14px;
    display:inline-block;
    position: relative;
    margin-left: 10px;
    font-family: DIN-Bold;
    padding-top:1px;
    border-style: solid;
    border-left: thick double gainsboro;

    &.no-border {
      border-left: none;
      padding-left: 3px;
      margin-left: 0px;
    }
  }

  .panel-group .panel + .panel {
    margin-top: 0px;
  }

  .panel-group .panel, .panel-heading {
    color: slategray;
    border-radius: 0;

    border: 0;
    background: rgb(251,251,251);
    cursor: pointer;
  }

  .panel-group .panel-heading {
    font-family: DIN-Bold;
    padding: 5px;

    &:hover {
      .accordion-label {
        color: brown;
      }
    }

    .panel-title {
      i {
        font-size: 14px;
      }
    }
  }

  .panel-group .panel {
    border-top: 1px solid gainsboro;
  }

  .panel-group .panel-heading + .panel-collapse > .panel-body {
    border:0;
    padding-left: 8px;
    padding-right: 8px;
  }

  .panel-btn-bar {
    padding: 8px;
  }

  .form-group {
    margin-bottom: 10px;
    &.row {
      width: 100%;
    }
  }

  .panel-profile {
    border-radius: 0;
    border: 0;
    border-top: 1px solid gainsboro;
    margin-bottom: 0;

    .panel-heading {
      font-family: DIN-Bold;
      padding: 0 8px 0px 8px;
      min-height: 36px;
      max-height: 36px;
      color: slategray;
      background-image: -webkit-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(245, 245, 245) 100%);

      .metadata {
        color: slategrey;

        &.opened-meta, :hover {
          color: brown;
        }
      }

      .profile-list-title, .right-icons {
        max-height: 36px;
        line-height: 36px;
      }

      .right-icons {
        display: flex;
        justify-content: center;
      }

      .glyphicon {
        line-height: 36px;
      }

      .glyphicon-cog {
        font-size: 18px;
        margin-right: 10px;
      }
    }
  }

  .label {
    padding: 3px 5px;
    margin-left: 12px;
  }

  .container {
    padding-left: 8px;
    padding-right: 8px;
  }

  .clickable .layer-header {
    display: inline-block;
  }

  .metaform {
    padding: 8px;

    .form-horizontal .form-group {
      margin-left: 0;
      margin-right: 0;
    }

    .row {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

edit-stbprofiles {
  .multiprofile:not(:first-child) {
    .profile-header {
      box-shadow: 0 -2px 1px -1px rgba(0,0,0,0.2);
      border-top: 2px double slategray;
    }
  }
}

.editor {
  $bradius: 8px;
  $bcolor: gainsboro;
  font-family: LatoWeb;

  //min-height: calc(100% - 30px);
  //max-height: calc(100% - 30px);

  .profile-selector {
    .active-selector-title,  .panel-group .panel .active-selector-title {
      color: #337ab7;
    }

    .clickable {
      height: 100%;
      border: 1px solid;
      border-color: $bcolor;
      border-radius: 4px;
      border: 0;
      height: 30px;
    }

    .profile-selector-title {
      display: inline-block;
      padding-left: 8px;
      padding-top: 8px;
    }

    .panel-heading {
      .pull-right {
        top: 7px;
      }

      .glyphicon {
        padding-right: 6px;
        padding-left: 2px;
        font-size: 14px;
        text-shadow: 0 1px 0 #fff;
        opacity: 0.8;
      }

      .glyphicon-remove {
        opacity: 0.4;

        &:hover {
          opacity: 0.8;
        }
      }

      .glyphicon-chevron-right {
        top: 6px;
      }
    }

    .panel-group {
      margin-bottom: 0;
    }

    .panel-group .panel,.panel-heading{
      font-family: DIN-Bold;
      color: slategray;
      border-radius: 0;

      border-top-left-radius: $bradius;
      border-top-right-radius: $bradius;

      border: 0;
      padding: 0;
      background: gainsboro;

      cursor: pointer;

      &.selector-option {
        &:hover {
          color: brown;
        }
      }
    }
  }

  .profile-pane {
    height: 100%;
    overflow-y: scroll;
    //padding: 5px;

    .container {
      max-width: 100%;
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }

  .details {
    position: absolute;
    left: 55px;
    top: 12px;
  }

  .symbol {
    font-family: snowsymbolsiacs;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
  }

  .with-margin {
    display: inline-block;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
  }
}
