@font-face {
    font-family: "snowsymbolsiacs";
    src: font_url("fonts/snowsymbolsiacs-webfont.eot");
    src: font_url("fonts/snowsymbolsiacs-webfont.eot?#iefix") format('embedded-opentype'),
         font_url("fonts/snowsymbolsiacs-webfont.woff2") format('woff2'),
         font_url("fonts/snowsymbolsiacs-webfont.woff") format('woff'),
         font_url("fonts/snowsymbolsiacs-webfont.ttf") format('truetype'),
         font_url("fonts/snowsymbolsiacs-webfont.svg#snowsymbolsiacs") format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DIN-Bold";
    src: font_url("fonts/DINWeb-Bold.eot");
    src: font_url("fonts/DINWeb-Bold.eot?#iefix") format('embedded-opentype'),
         font_url("fonts/DINWeb-Bold.woff") format('woff'),
         font_url("fonts/DINComp-Bold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "LatoWeb";
    src: font_url("fonts/Lato-Regular.eot"); /* IE9 Compat Modes */
    src: font_url("fonts/Lato-Regular.eot?#iefix") format('embedded-opentype'), /* IE6-IE8 */
         font_url("fonts/Lato-Regular.woff2") format('woff2'), /* Modern Browsers */
         font_url("fonts/Lato-Regular.woff") format('woff'), /* Modern Browsers */
         font_url("fonts/Lato-Regular.ttf") format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
