html, body {
  height: 100%;
  width: 100%;

  .container-fluid {
    padding: 0px 0px 0px 0px !important;
    .navbar-brand {
      margin-left: 0px !important;
    }

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: row;
  }

  .navbar-brand > a {
    text-decoration: none;
    $lcolor: slategray;
    color: $lcolor;
    &:visited { color: $lcolor; }
    &:hover { color: $lcolor; }
    &:hover { color: $lcolor; }
  }

  main { /* see main.pug */
    height: 100%;
    margin-top: -20px;

    .row {
      height: 100%;
    }
  }

  .disabled-anchor {
    cursor: not-allowed;
    color: grey !important;
  }

  .help {
    li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
      list-style-type: decimal !important;
    }

    .hoverable {
      margin-top: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
      &:hover {opacity: 0.7;}
    }


    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 50px;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }

    /* Modal Content (Image) */
    .modal-content {
      margin: auto;
      display: block;
      width: 80%;
      //max-width: 700px;
    }

    /* Caption of Modal Image (Image Text) - Same Width as the Image */
    #caption {
      margin: auto;
      display: block;
      width: 80%;
      max-width: 700px;
      text-align: center;
      color: #ccc;
      padding: 10px 0;
      height: 150px;
    }

    /* Add Animation - Zoom in the Modal */
    .modal-content, #caption {
      -webkit-animation-name: zoom;
      -webkit-animation-duration: 0.6s;
      animation-name: zoom;
      animation-duration: 0.6s;
    }

    @-webkit-keyframes zoom {
      from {-webkit-transform:scale(0)}
      to {-webkit-transform:scale(1)}
    }

    @keyframes zoom {
      from {transform:scale(0)}
      to {transform:scale(1)}
    }

    /* The Close Button */
    .close {
      position: absolute;
      top: 15px;
      right: 35px;
      color: #f1f1f1;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s;
    }

    .close:hover,
    .close:focus {
      color: #bbb;
      text-decoration: none;
      cursor: pointer;
    }

    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 700px){
      .modal-content {
        width: 100%;
      }
    }
  }
}
