[visualizer] {
  height: 85%;

  div {
    height: 100%;

    h2 {
      margin-top: 100px;
      text-align: center;
    }

    h3 {
      text-align: center;
    }
  }

  #canvas {
    padding: 0px 0px 0px 0px;
  }

  #canvas1 {
    padding: 0px 0px 0px 0px;
  }

  .visualizer {
    display: flex;
    flex-direction: row;

    .left-container {
      margin-right: 8px;
      display: flex;
      flex-direction: column;
    }

    .right-container {
    }
  }

}
