doctype html
html(lang="en")
  head
    script.
      (function() {
        //if (window.location.protocol !== 'file:') document.write('<base href="/" />');
      })();

    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="The goal of niViz is to interactively generate a variety of plots from either measured or simulated snow profiles in a web browser either online or offline")
    meta(name="license" content="This software is available under GNU Affero General Public License, see www.gnu.org")

    title niViz: Interactive Snow Profiles Visualizer

    != css('application')
    != js('application')


  body(ng-app="niviz" ng-controller="NivizController" ng-strict-di dropzone)
    header
      include templates/menu
    div(ui-view style="height: 100%;")

    include templates/main
    include templates/help
    include templates/settings
    include templates/create
    include templates/timeline-modal-height
    include templates/timeline-modal-extract
    include templates/modal-local-files
    include templates/modal-save-as
    include templates/profiler
    include templates/profile-editor
    include templates/timeliner
    include templates/meteographer
    include templates/visualizer
    include templates/pvisualizer
    include templates/info
    include templates/console
    include templates/alert
    include templates/modal
    include templates/tabs

    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJs4S15Pd8Kyc4H8N63ro7rUKwWV6cEoM")
