doctype html
html(lang="en")
  head
    script.
      (function() {
        //if (window.location.protocol !== 'file:') document.write('<base href="/" />');
      })();

    meta(charset="utf-8")
    meta(name="viewport" content="width=device-witdth, initial-scale=1")
    meta(name="description" content="The goal of niViz is to interactively generate a variety of plots from either measured or simulated snow profiles in a web browser either online or offline")
    meta(name="license" content="This software is available under GNU Affero General Public License, see www.gnu.org")

    title niViz: Interactive Snow Profiles Visualizer

    != css('application')
    != js('application')


  body(ng-app="niviz" ng-controller="NivizController")

    header
      include templates/simplemenu

    main.container-fluid
      div(visualizer ng-repeat="timeline in timelines")
      div.fenestra(profiler ng-repeat="profile in profiles" profile="profile" on-close="destroy('profiles', $index)")

    include templates/settings
    include templates/profiler
    include templates/timeliner
    include templates/visualizer
    include templates/info
    include templates/console
    include templates/alert
    include templates/modal
    include templates/tabs
